<template>
  <c-simple-page fullHeight>
    <template slot="heading">
      Контакты
    </template>

    <template slot="utils">
      <ul v-if="info && info.social"
          
          class="social">
        <li v-for="(item, key) in info.social"
            
            :key="`social__${key}`">
          <a :href="item"
              
              target="_blank">
            <c-icon :name="key" />
          </a>
        </li>
      </ul>
    </template>

    <div  v-if="info" 
          
          class="info">
      <div  v-if="info.email"

            class="item item--email">
        <c-icon name="email" />
        <a  :href="`mailto:${info.email}`"
            
            target="_blank">
          {{ info.email }}
        </a>
      </div>
      <div  v-if="info.location"
            
            class="item item--location">
        <c-icon name="placeholder" />
        <a  :href="`https://maps.google.com/?q=${info.location}`"
            
            target="_blank">
          {{ info.location }}
        </a>
      </div>
      <div  v-if="info.phone"
            
            class="item item--phone">
        <c-icon name="phone" />
        <a  :href="`tel:${info.phone}`"
            
            class="number"
            target="_blank">{{ info.phone }}</a>
        <a  :href="`https://wa.me/${info.phone}`"
        
            target="_blank">
          <c-icon name="whatsapp" />
        </a>
        <a  :href="`viber://chat?number=${info.phone}`"
        
            target="_blank">
          <c-icon name="viber" />
        </a>
        <a  :href="`https://t.me/${info.phone}}`"
        
            target="_blank">
          <c-icon name="telegram" />
        </a>
      </div>
      <div class="hint">
        <span>Вы также можете связаться с нами через  </span>
        <router-link to="/support">Службу поддержки</router-link>
      </div>
    </div>
  </c-simple-page>
</template>

<script>

import { API } from '@/config'
import { createQuery } from '@/utils'

import CIcon from '@/components/c-icon'
import CSimplePage from '@/components/c-simple-page'

export default {
  name: 'Contacts',
  components: {
    CIcon,
    CSimplePage,
  },
  data() {
    return {
      info: null,
      loading: true,
    }
  },
  mounted() {
    this.axios.post(API.URI, createQuery({
      query: 'data',
      key: 'contacts',
    }))
      .then(({ data }) => {
        if (data.status === 200)
          this.info = data.result
      })
      .finally(() => this.loading = false)
  }
}

</script>

<style scoped>

  .social {
    flex: 0 0 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
  }

  .social .svg--fb:hover {
    color: var(--color-fb);
  }
  .social .svg--vk:hover {
    color: var(--color-vk);
  }
  .social .svg--twitter:hover {
    color: var(--color-twitter);
  }
  .social .svg--youtube:hover {
    color: var(--color-youtube);
  }
  .social .svg--instagram:hover {
    color: var(--color-instagram);
  }

  .caption .social li {
    margin-left: 15px;
  }

  .caption .social li a {
    color: var(--color-bg-dark);

    transition: .25s color;
  }

  .caption .social li a:hover {
    color: var(--color-primary);
  }

  .caption .social svg {
    width: 20px;
    height: 20px;
  }

  .item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    font-size: 16px;
    font-weight: 400;
  }

  .item:not(:last-child) {
    margin-bottom: 25px;
  }
  
  .item--phone .number {
    margin-right: 15px;
  }

  .item svg {
    width: 25px;
    height: 25px;

    margin-right: 15px;

    color: var(--color-label);
  }

  .item--phone .svg--viber {
    color: var(--color-viber);
  }

  .item--phone .svg--whatsapp {
    color: var(--color-whatsapp);
  }

  .item--phone .svg--telegram {
    color: var(--color-telegram);
  }

  .hint {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-label);
  }

  .hint a {
    margin-left: 10px;
  }

  @media screen and (min-width: 768px) {

    .social {
      flex: 0 0 auto;

      margin-top: 0;
    }

    .item {
      font-size: 20px;
    }

    .hint {
      font-size: 18px;
    }

  }

</style>