<template>
  <c-simple-page fullHeight>
    <template slot="heading">
      Частые вопросы
    </template>
    <c-faq-loading v-if="loading" />
    <c-accordion  v-else
                  :items="items" />
  </c-simple-page>
</template>

<script>

import { API } from '@/config'
import { createQuery } from '@/utils'

import CAccordion from '@/components/c-accordion'
import CSimplePage from '@/components/c-simple-page'
import CFaqLoading from '@/components/loading/c-faq-loading'

export default {
  name: 'FAQ',
  components: {
    CAccordion,
    CSimplePage,
    CFaqLoading,
  },
  data() {
    return {
      items: [],
      loading: true,
    }
  },
  mounted () {
    this.axios.post(API.URI, createQuery({
      key: 'faq',
      query: 'data',
    }))
      .then(({ data }) => {
        if (data.status)
          this.items = data.result
      })
      .finally(() => this.loading = false)
  },
  methods: {
    onOpen: str => console.log(str)
  },
}

</script>