<template>
  <section>
    <div class="wrapper">
      <div  v-if="!isLoggedIn"
            
            class="col">

        <c-auth :screen="screen" />
      </div>
      <div  v-else
          
            class="col col--panel">
        <c-panel />
      </div>
      <div class="col col--winners">
        <c-top-winners />
      </div>
    </div>
    <div class="table">
      <c-simple-page  headingStyle="alt"

                      :contentBoxed="false">
        <template slot="heading">
          Последние игры
        </template>
        <template slot="utils">
          <nav class="history-tabs" role="navigation">
            <ul>
              <li>
                <router-link to="/all">все</router-link>
              </li>
              <li>
                <router-link to="/my">мои</router-link>
              </li>
            </ul>
          </nav>
        </template>
        <c-table v-bind="table">
          <template slot="caption">
            <span class="online">
              3256
              <c-icon name="wifi" />
            </span>
          </template>
        </c-table>
      </c-simple-page>
    </div>
  </section>
</template>

<script>

import { mapGetters } from 'vuex'

import CAuth from '@/components/c-auth'
import CPanel from '@/components/c-panel'
import CTable from '@/components/c-table'
import CIcon from '@/components/c-icon.vue'
import CTopWinners from '@/components/c-top-winners'
import CSimplePage from '../components/c-simple-page.vue'

export default {
  name: 'Home',
  props: {
    screen: {
      type: String,
      default: 'sign-in',
    },
  },
  data() {
    return {
      auth: false,
      table: {
        columns: [
          {
            align: 'left',
            label: 'Логин',
            key: 'username',
          },
          {
            key: 'number',
            label: 'Число',
          },
          {
            key: 'range',
            label: 'Диапазон',
          },
          {
            key: 'amount',
            label: 'Сумма',
          },
          {
            key: 'chance',
            label: 'Шанс',
            type: 'progrss',
          },
          {
            key: 'winnings',
            label: 'Выигрыш',
          }
        ],
        data: [
          {
            chance: 100,
            number: 4658,
            amount: 1000,
            winnings: 1010,
            range: [0, 5000000],
            username: 'Happy Player',
          },
          {
            chance: 20,
            amount: 98,
            winnings: 1230,
            number: 2000668,
            username: 'INeedMoney',
            range: [2000000, 3000000],
          },
          {
            chance: 100,
            number: 4658,
            amount: 1000,
            winnings: 0,
            range: [0, 5000000],
            username: 'Happy Player',
          },
          {
            chance: 20,
            amount: 98,
            winnings: 1230,
            number: 2000668,
            username: 'INeedMoney',
            range: [2000000, 3000000],
          },
          {
            chance: 20,
            amount: 98,
            winnings: 1230,
            number: 2000668,
            username: 'INeedMoney',
            range: [2000000, 3000000],
          },
          {
            chance: 100,
            number: 4658,
            amount: 1000,
            winnings: 0,
            range: [0, 5000000],
            username: 'Happy Player',
          },
          {
            chance: 20,
            amount: 98,
            winnings: 1230,
            number: 2000668,
            username: 'INeedMoney',
            range: [2000000, 3000000],
          },
          {
            chance: 100,
            number: 4658,
            amount: 1000,
            winnings: 0,
            range: [0, 5000000],
            username: 'Happy Player',
          },
          {
            chance: 20,
            amount: 98,
            winnings: 1230,
            number: 2000668,
            username: 'INeedMoney',
            range: [2000000, 3000000],
          },
          {
            chance: 100,
            number: 4658,
            amount: 1000,
            winnings: 0,
            range: [0, 5000000],
            username: 'Happy Player',
          },
          {
            chance: 20,
            amount: 98,
            winnings: 1230,
            number: 2000668,
            username: 'INeedMoney',
            range: [2000000, 3000000],
          },
          {
            chance: 100,
            number: 4658,
            amount: 1000,
            winnings: 0,
            range: [0, 5000000],
            username: 'Happy Player',
          },
          {
            chance: 20,
            amount: 98,
            winnings: 1230,
            number: 2000668,
            username: 'INeedMoney',
            range: [2000000, 3000000],
          },
          {
            chance: 100,
            number: 4658,
            amount: 1000,
            winnings: 0,
            range: [0, 5000000],
            username: 'Happy Player',
          },
          {
            chance: 20,
            amount: 98,
            winnings: 1230,
            number: 2000668,
            username: 'INeedMoney',
            range: [2000000, 3000000],
          },
          {
            chance: 100,
            number: 4658,
            amount: 1000,
            winnings: 0,
            range: [0, 5000000],
            username: 'Happy Player',
          },
          {
            chance: 20,
            amount: 98,
            winnings: 1230,
            number: 2000668,
            username: 'INeedMoney',
            range: [2000000, 3000000],
          },
          {
            chance: 100,
            number: 4658,
            amount: 1000,
            winnings: 0,
            range: [0, 5000000],
            username: 'Happy Player',
          },
        ]
      }
    }
  },
  components: {
    CAuth,
    CIcon,
    CTable,
    CPanel,
    CTopWinners,
    CSimplePage,
  },
  computed: mapGetters('account', [
    'isLoggedIn',
  ]),
}

</script>

<style scoped>
  
  .wrapper {
    display: flex;
    flex-direction: column;

    margin-left: -15px;
    margin-right: -15px;
  }

  .wrapper .col {
    flex: 1;

    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper .col--winners {
    margin-top: 20px;
  }

  .history-tabs {
    flex: 0 0 100%;

    margin: 10px 0 -15px 0;
  }

  .history-tabs ul {
    display: flex;
    flex-wrap: wrap;
  }

  .history-tabs ul li {
    flex: 1;
  }

  .history-tabs ul li a {
    display: block;

    padding: 10px 15px;

    color: black;
    text-align: center;
    text-decoration: none;
  }

  .history-tabs ul li a:hover {
    background-color: var(--color-bg-light);
  }

  .history-tabs ul li a.router-link-exact-active {
    background-color: var(--color-bg);
  }

  .online {
    position: relative;

    font-size: 14px;
    color: var(--color-bg-dark);
  }

  .online svg {
    top: -3px;
    position: absolute;
    left: calc(100% - 7px);

    width: 18px;
    height: 18px;

    color: var(--color-success);

    animation-name: wifi;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  .table {
    margin-top: 30px;
  }

  .table-wrapper {
    padding-bottom: 30px;
  }

  @keyframes wifi {
    from {
      color: var(--color-success)
    }
    to {
      color: var(--color-bg);
    }
  }

  @media screen and (min-width: 768px) {
    
    .history-tabs {
      flex: 0 0 auto;

      margin: 10px 0 0 0;
    }

    .history-tabs ul li {
      flex: 0 0 auto;
    }

    .history-tabs ul li a {
      display: inline;

      padding: 30px 20px 15px;
    }

  }

  @media screen and (min-width: 992px) {
    
    .wrapper {
      flex-direction: row;
    }

    .wrapper .col--winners {
      flex: 0 0 300px;

      width: 100%;
      max-width: 300px;

      margin-top: 0;
    }

  }

</style>