<template>
  <c-simple-page fullHeight>
    <template slot="heading">
      {{ page.heading }}
    </template>
    <article class="article" v-html="page.content"></article>
  </c-simple-page>
</template>

<script>

import { API } from '@/config'

import CSimplePage from '../components/c-simple-page.vue'

export default {
  name: 'Page',
  components: {
    CSimplePage,
  },
  data() {
    return {
      page: '',
      loading: true,
    }
  },
  methods: {
    draw() {
      const { slug } = this.$route.params
      console.log(slug)
      const formData = new FormData()
            formData.append('name', slug)
            formData.append('query', 'page')

      this.axios.post(API.URI, formData)
        .then(response => {
          const { data } = response

          if (data.status === 200)
            this.page = data.result
        })
        .finally(() => this.loading = false)
    }
  },
  mounted() {
    this.draw()
  },
}

</script>

<style scoped>

  .article {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-bg-dark);
  }

</style>