<template>
  <c-simple-page fullHeight>
    <template slot="heading">
      Промокод
    </template>
    <div class="form">
        <label class="field">
          <span class="input-label">Введите промокод</span>
          <input  v-model="code"

                  class="input input--large"
                />
        </label>
        <c-styled-button  v-bind="submitBtn"
                          
                          @click.native="submit"
                        />
      </div>
  </c-simple-page>
</template>

<script>

import Config from '@/config'
import { createQuery } from '@/utils'

import CSimplePage from '@/components/c-simple-page'
import CStyledButton from '@/components/c-styled-button'

export default {
  name: 'PromoCode',
  components: {
    CSimplePage,
    CStyledButton,
  },
  data() {
    return {
      code: '',
      submitBtn: {
        theme: 'success',
        label: 'Активировать',
      }
    }
  },
  methods: {
    submit() {
      if (!this.code)
        return this.$notify({
          type: 'error',
          group: 'system',
          title: 'Активация',
          text: 'Укажите промокод',
        })

      this.axios.post(Config.API.URI, createQuery({
        code: this.code,
        query: 'promo-code',
      }))
        .then(({ data }) => {
          if (data.status === 200) {
            this.$notify({
              type: 'success',
              group: 'system',
              title: 'Активация',
              text: 'Промокод успешно активировано',
            })

            this.code = ''
            this.$store.dispatch('account/getData')
          } else {
            this.$notify({
              type: 'error',
              group: 'system',
              text: data.message,
              title: `Системная ошибка с кодом ${data.status}`,
            })
          }
        })
    }
  },
}

</script>

<style scoped>

  .form {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    width: 100%;
    max-width: 388px;
  }

  .field {
    flex: 1;
    
    display: block;

    width: 100%;
    max-width: 100%;

    margin-bottom: 20px;
  }

  .form button {
    margin-left: auto;
  }

</style>