<template>
  <c-simple-page fullHeight>
    <template slot="heading">Ваш профиль</template>
    <div class="wrapper">
      <div class="form">
        <label class="field">
          <span class="input-label">Новый пароль</span>
          <input  v-model="form.password"
                  
                  type="password"
                  class="input input--large"
                />
        </label>
        <label class="field">
          <span class="input-label">Повторите пароль</span>
          <input  v-model="form.rpassword"

                  type="password"
                  class="input input--large"
                />
        </label>
        <c-styled-button  v-bind="submitBtn"

                          @click.native="submit"
                        />
      </div>
      <div class="socials">
        <div class="social">
          <span class="input-label">Социальные сети</span>
          <c-styled-button  v-bind="vkBtn" />
        </div>
      </div>
    </div>
  </c-simple-page>
</template>

<script>

import CSimplePage from '../components/c-simple-page.vue'
import CStyledButton from '../components/c-styled-button.vue'

export default {
  name: 'Settings',
  components: { 
    CSimplePage,
    CStyledButton 
  },
  data() {
    return {
      submitBtn: {
        theme: 'success',
        label: 'Изменить',
      },
      vkBtn: {
        label: 'Привязать аккаунт',
        icon: {
          name: 'vk',
          color: '#2787F5',
          position: 'left',
        },
      },
      form: {
        password: '',
        rpassword: '',
      }
    }
  },
  methods: {
    submit() {
      const { password, rpassword } = this.form
      const regexp = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/

      if (!regexp.test(password))
        return this.$notify({
          type: 'error',
          group: 'system',
          title: 'Ошибка пароли',
          text: 'Пароль должен быть не менее 8 символов, только латинские буквы, содержать цифра и прописная буква',
        })

      if (password !== rpassword)
        return this.$notify({
          type: 'error',
          group: 'system',
          text: 'Пароли не совпадают',
          title: 'Ошибка повторение пароли',
        })

      this.$store.dispatch('account/edit', {
        password
      })
        .then(response => {
          if (response.status === 200)
            this.form.password = ''
            this.form.rpassword = ''
            
            this.$notify({
              group: 'system',
              type: 'success',
              title: 'Изменение данных',
              text: 'Данные успешно изменены',
            })
        })
    }
  }
}

</script>

<style scoped>

  .wrapper {
    display: flex;
    flex-direction: column-reverse;

    margin-left: -15px;
    margin-right: -15px;
  }

  .wrapper > div {
    flex: 1;

    padding-left: 15px;
    padding-right: 15px;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
  }

  .form .field {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
  }

  .form button {
    width: max-content;
  }

  .socials {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
  }

  .socials .social {
    display: flex;
    flex-direction: column;
  }

  .socials .social button {
    max-width: max-content;
    
    font-size: 14px;
  }

  @media screen and (min-width: 576px) {
    
     .wrapper {
        flex-direction: row;
     }

  }

</style>