<template>
  <c-simple-page  fullHeight
                  class="support">
    <template slot="heading">{{ heading }}</template>
    <template slot="utils">
      <c-support-toolbar />
    </template>
    <router-view></router-view>
  </c-simple-page>
</template>

<script>

import { mapState } from 'vuex'

import CSimplePage from '@/components/c-simple-page'
import CSupportToolbar from '../components/c-support-toolbar'

export default {
  name: 'Support',
  components: {
    CSimplePage,
    CSupportToolbar,
  },
  computed: mapState('support', [
    'items',
    'heading',
  ]),
}

</script>

<style scoped>


</style>