:root {
	--color-text: #333;
	--color-bg: #eef2f373;
	--color-danger: #EB5757;
	--color-secondary: rgb(193 193 193);
	--color-primary: rgba(17, 144, 203, 1);
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;

	margin: 0;
	padding: 0;

	font-family: monospace;
	color: var(--color-text);
}

header {
	top: 0;
	z-index: 2;
	position: sticky;
	position: -webkit-sticky;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 10px 20px;

	background-color: white;
	box-shadow: 0px 0px 10px 0px rgba(223, 223, 223, 1);
}

h1 {
	margin: 0;

	font-size: 20px;
	color: var(--color-primary);
}

header a {
	display: inline-block;

	padding: 10px;

	border-radius: 5px;
	border: 1px solid var(--color-primary);				

	text-decoration: none;
	text-transform: uppercase;
	color: var(--color-primary);

	transition: .25s background-color, .25s color;
}

header a:hover {
	background-color: var(--color-primary);

	color: white;
}

section {
	display: flex;
	flex-wrap: nowrap;
}

section nav {
	flex: 0 0 20%;
}

section fieldset {
	flex: 0 0 30%;

	margin: 0;
	padding: 0;

	border: none;
}

section > div {
	flex: 0 0 50%;

	overflow: hidden;
}

h2 {
	margin: 0;
	padding: 20px;

	border-bottom: 1px solid var(--color-bg);

	font-size: 20px;
	font-weight: normal;
	font-family: fantasy;
	text-transform: uppercase;
	color: var(--color-secondary);
}

pre {
	display: flex;
	align-items: start;

	max-width: 100%;

	overflow-x: auto;

	margin: 0;
}

code {
	width: 100%;
}

section > *	 {
	border-right: 1px solid var(--color-bg) !important;
}

table {
	width: 100%;

	margin: 0;
}

tr:nth-child(even) {
	background-color: var(--color-bg);
}

tr:last-child > th,
tr:last-child > td {
	border-bottom: 1px solid var(--color-bg);
}

th,
td {
	width: 50%;

	padding: 10px 15px;

	text-align: left;
	color: var(--color-text);
}


td {
	border-left: 1px solid var(--color-bg);

	word-break: break-word;
}

ul {
	margin: 0;
	padding: 15px;

	list-style: none;
}

ul a {
	color: var(--color-text);
}

ul a:not(:hover) {
	text-decoration: none; 
	color: var(--color-secondary);
}

li a {
	display: block;

	padding: 5px;
}

ul ul {
	padding: 0 10px;
}

footer {
	padding: 0 20px;

	overflow: hidden;

	border-top: 1px solid var(--color-bg);

	font-size: 12px;
}

footer a {
	color: var(--color-primary);
}

footer a:not(:hover) {
	text-decoration: none;
}

aside {
	flex: 0 0 300px;

	max-height: calc(100vh - 98px);

	border-right: 1px solid var(--color-bg);
	
	overflow-y: auto;
	overflow-x: hidden;
}

aside li {
	border-bottom: 1px solid var(--color-bg);
}

aside li.selected a {
	color: var(--color-primary);
}

main.support {
	display: flex;

	overflow: hidden;

	min-height: calc(100vh - 98px);
}

.chat {
	flex: 1;

	position: relative;

	display: block;

	max-height: calc(100vh - 98px);

	overflow-y: auto;
	overflow-x: hidden;

	background-color: var(--color-bg);
}

.chat .toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 50px;
	
	padding: 0 20px;

	background-color: white;
	border-bottom: 1px solid var(--color-bg);
}

.chat .toolbar .username {
	font-size: 18px;
	font-weight: bold;
	color: var(--color-primary);
}

.chat .toolbar .back,
.chat .toolbar .close {
	padding: 10px 15px;

	border-radius: 5px;

	text-decoration: none;
}

.chat .toolbar .back {
	background-color: var(--color-bg);

	color: var(--color-text);

	margin-left: 10px;
}

.chat .toolbar .close {
	background-color: var(--color-danger);
	
	color: white;
}

.chat .messages {
	height: 100%;
	max-height: calc(100vh - 208px);

	overflow: hidden;
	overflow-y: auto;

	padding: 20px;
}

.chat .messages .message {
	max-width: 55%;
	width: max-content;
}

.chat .messages .message span {
	display: block;

	padding: 10px;
	border-radius: 10px 0 10px 0;

	overflow: hidden;

	box-shadow: 0px 0px 10px 0px rgba(223, 223, 223, 1);

  word-break: break-all;
	white-space: pre-wrap;
}

.chat .messages .message time {
	display: block;

	margin-top: 5px;

	font-size: 12px;
	text-align: center;
	color: var(--color-secondary);
}

.chat .messages .message.message--0 {
	margin-left: auto;
}

.chat .messages .message.message--0 span {
	margin-left: auto;

	background-color: var(--color-primary);

	color: white;
}

.chat .messages .message.message--1 span {
	margin-right: auto;

	background-color: white;
}

.chat form {
	display: flex;

	background-color: white;
	box-shadow: 0px -3px 5px 0px #dfdfdf9e;
}

.chat form textarea {
	flex: 1;

	height: 60px;

	padding: 10px;

	resize: none;
	border: none;
	outline: none;
}

.chat form button {
	flex: 0 0 100px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%
	max-width: 100px;

	border: none;
	outline: none;
	background-color: var(--color-primary);

	color: white;
	cursor: pointer;
	font-weight: bold;
}

.chat p {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);

	font-size: 25px;
	font-family: cursive;
	text-transform: uppercase;
	color: var(--color-secondary);
}