:root {
  --color-bg: #EEF2F3;
  --color-bg-dark: #011734;
  --color-bg-light: #FAFAFA;

  --color-default: #FAFAFA;
  --color-default-hover: #EEF2F3;
  --color-default-active: #dadada;

  --color-primary: #1190CB;
  --color-primary-hover: #0469A5;
  --color-primary-active: #123B9B;

  --color-secondary: #2187AC;
  --color-secondary-hover: #1D6B87;
  --color-secondary-active: #005371;

  --color-gold: #FFD700;
  --color-gold-hover: #f3cf00;
  --color-gold-active: #DAA520;

  --color-success: #0ACB90;
  --color-success-hover: #18B484;
  --color-success-active: #14946C;

  --color-danger: #EB5757;
  --color-danger-hover: #D44242;
  --color-danger-active: #CB1313;

  --color-warning: #F2994A;
  --color-warning-hover: #DB8438;
  --color-warning-active: #D16C13;

  --color-vk: #2787F5;
  --color-fb: #1877f2;
  --color-youtube: #f00;
  --color-label: #7C7C7C;
  --color-telegram:#039BE5;
  --color-whatsapp: #4CAF50;
  --color-instagram: #C13584;
  --color-viber: rgba(142, 36, 170, 1);
  --color-twitter: rgba(29,161,242,1.00);

  --shadow-default: 0 0 10px 0 #DFDFDF;
  --shadow-dark: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  --shadow-inset: inset 0 0 5px 0 rgba(0, 0, 0, 0.25);

  --size-aside: 265px;
}

* {
  min-width: 1px;
  min-height: 1px;

  box-sizing: border-box;

  outline: none !important;
  user-select: none !important;
}


body,
html {
  margin: 0;
  padding: 0;

  background-color: var(--color-bg);

  font-size: 14px;
  font-family: "Segoe UI";
}

body.overlayed {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-secondary);

  transition: .25s color;
}

a:hover {
  text-decoration: underline;
  color: var(--color-secondary-hover);
}

a:active {
  color: var(--color-secondary-active);
}

img {
  max-width: 100%;
}

article hr {
  margin: 15px 0;
  
  border: none;
  border-bottom: 1px solid var(--color-bg)
}

article p {
  margin: 0;
}

article p:not(:last-child) {
  margin-bottom: 15px;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  color: var(--color-bg-dark);

  margin-top: 0;
  margin-bottom: 10px;
}

article h3,
article h4,
article h5,
article h6 {
  font-size: 16px;
}

label {
  font-size: 13px;
  font-weight: 350;
  color: var(--color-label);

  cursor: pointer;
}

select {
  text-indent: 1px;
  text-overflow: '';
  
  -moz-appearance: none;
  -webkit-appearance: none;
}

.scrollabel {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollabel--x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  position: fixed;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.205);
  
  opacity: 0;

  transition: .5s opacity;
}

body.overlayed .overlay {
  z-index: 100;

  opacity: 1;
}

.field--select {
  position: relative;
}

.field--select svg {
  top: 50%;
  right: 10px;
  position: absolute;
  transform: translateY(-50%) rotate(90deg);

  width: 15px;
  height: 15px;

  color: var(--color-label);
}

.input {
  padding: 10px;

  border-radius: 5px;
  border: 1px solid var(--color-bg);
  background-color: var(--color-bg-light);

  font-size: 15px;
  font-weight: 350;
  color: var(--color-bg-dark);

  transition: background-color .25s;
}

.input:focus {
  background-color: white;
}

.input::placeholder {
  color: var(--color-label)
}

.input.input--large {
  width: 100%;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type="number"] {
  -moz-appearance: textfield;
}

.input-label {
  display: inline-block;

  margin-bottom: 5px;
  
  font-size: 13px;
  font-weight: 350;
  color: var(--color-label);
}

.container {
  width: 100%;
  max-width: 1140px;

  margin-left: auto;
  margin-right: auto;
}

.content--placeholder {
  position: relative;
  
  overflow: hidden;
  
  background: #000;
  background: #f6f7f8;
  background: linear-gradient(to right, var(--color-bg-light) 2%, var(--color-bg) 18%, var(--color-bg-light) 33%);
  background-size: 1300px;

  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;

}

.content--placeholder * {
  color: transparent !important;
}

.content--placeholder.content--placeholder-alt {
  background: var(--color-secondary-hover);
  background: linear-gradient(to right, var(--color-secondary) 2%, var(--color-secondary-hover) 18%, var(--color-secondary) 33%);
  background-size: 1300px;
}

body.overlayed--aside #aside {
  left: 0;
}

@keyframes placeholderAnimate {
  0%{ background-position: -650px 0; }
  100%{ background-position: 650px 0; }
}