<p>
	Перед каждой игрой генерирутеся строка <a href="https://ru.wikipedia.org/wiki/SHA-2">алгоритмом SHA-512</a> в которой содержится соль и победное число (от 0 до 999999). Можно сказать, что перед Вами зашифрованный исход данной игры. Метод гарантирует 100% честность, так как результат игры Вы видите заранее, а при изменении победного числа приведет к изменению Hash.
</p>

<p>
	Проверяйте самостоятельно:<br />
	Скоприруйте Hash до начала игры<br />
	После окончания нажмите <span style="color: #EB5757">"Проверить игру"</span><br />
	Откроется окно с результатом<br />
	Скопируйте вручную поля Salt1, Number (Победное число), Salt2 или нажмите кнопку "Скопировать"<br />
	Вставьте в любой независимый SHA-512 генератор (Например: <a href="https://emn178.github.io/online-tools/sha512.html" target="_blank">Ссылка 1</a> <a href="https://md5calc.com/hash/sha512" target="_blank">Ссылка 2</a> <a href="https://passwordsgenerator.net/sha512-hash-generator/" target="_blank">Ссылка 3</a>)<br />
	Hash должен совпадать c Hash до начала игры
</p>

<hr />

<p>
	Например:<br />
	Hash до начала игры:<br />
	<span style="color: #808080; font-size: 12px">cdbe74ade59f5b8e3372c1e107ca8d343da9efa1a173ba6bc678daa28b586b25a7c2e39a71badf7f00e04b5c1dbc43532b92a1f2913b0540f490968d7ce883fe</span><br />
	После окончания нажали на <span style="color: #EB5757">"Проверить игру"</span>, открылось окно<br />
	Копируем значения Salt1, Number (Победное число), Salt2<br />
	Получаем строку <span style="color: #EB5757">8{93mW8huq|995544|a5cm28bjA0</span><br />
	Вставляем строку в <a href="https://emn178.github.io/online-tools/sha512.html" target="_blank">генератор</a><br />
	Получили hash как и до начала игры
</p>