<h5>1. Какая информация подлежит сбору</h5>
<p>1.1. Сбору подлежат только сведения, обеспечивающие возможность
  поддержки
  обратной связи с пользователем.
</p>
<p>1.2. Некоторые действия пользователей автоматически сохраняются в
  журналах
  сервера:
</p>
<p>1.2.1. IP-адрес, данные о типе браузера;</p>
<p>1.2.2. Надстройках, времени запроса и т. д.</p>
<h5>2. Как используется полученная информация</h5>
<p>2.1. Сведения, предоставленные пользователем, используются для связи с
  ним, в том числе для направления уведомлений.
</p>
<h5>3. Управление личными данными</h5>
<p>3.1. Личные данные доступны для просмотра, изменения и удаления в
  личном
  кабинете пользователя.
</p>
<p>3.2. В целях предотвращения случайного удаления или повреждения данных
  информация хранится в резервных копиях в течение 7 дней и может быть восстановлена по запросу
  пользователя.
</p>
<h5>4. Предоставление данных третьим лицам</h5>
<p>4.1. Личные данные пользователей могут быть переданы лицам, не
  связанным с
  настоящим сайтом, если это необходимо:
</p>
<p>4.1.1. Для соблюдения закона, нормативно-правового акта, исполнения
  решения суда;
</p>
<p>4.1.2. Для выявления или воспрепятствования мошенничеству;</p>
<p>4.1.3. Для устранения технических неисправностей в работе сайта;</p>
<p>4.1.4. Для предоставления информации на основании запроса
  уполномоченных
  государственных органов.
</p>
<p>4.2. В случае продажи настоящего сайта пользователи должны быть
  уведомлены
  об этом не позднее чем за 10 дней до совершения сделки.
</p>
<h5>5. Безопасность данных</h5>
<p>5.1. Администрация сайта принимает все меры для защиты данных
  пользователей от несанкционированного доступа, в частности:
</p>
<p>5.1.1. Регулярное обновление служб и систем управления сайтом и его
  содержимым;
</p>
<p>5.1.2. Шифровка архивных копий ресурса;</p>
<p>5.1.3. Регулярные проверки на предмет наличия вредоносных кодов;</p>
<p>5.1.4. Использование для размещения сайта виртуального выделенного
  сервера.
</p>
<h5>6. Изменения</h5>
<p>6.1. Обновления политики конфиденциальности публикуются на данной
  странице.
</p>