<p>
	<span style="color: rgba(203, 19, 19, 1); font-size: 14px">ВНИМАНИЕ! Если Вы не согласны с условиями настоящего Пользовательского Соглашения, не авторизуйтесь на Сайте nvuti.uno и не используйте сервисы данного Сайта.</span>
</p>
<p>
	<h5>1.ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ.</h5>
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.1</b><br />
	В настоящем Соглашении, если из текста прямо не вытекает иное, следующие термины будут иметь указанные ниже значения:<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.1.1</b><br />
	Сайт - совокупность информации, текстов, графических элементов, дизайна, изображений, фото и видеоматериалов и иных результатов интеллектуальной деятельности, а также программ для ЭВМ, содержащихся в информационной системе, обеспечивающей доступность такой информации в сети Интернет по сетевому адресу nvuti.uno. Сайт является Интернет-ресурсом, предназначенным для оказания развлекательно-аттракционных услуг физическим лицам.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.1.2</b><br />
	Соглашение – настоящее Пользовательское Соглашение, являющееся Публичной офертой, в целом без изъятий и оговорок.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.1.3</b><br />
	Администратор – лицо, в коммерческом управлении которого находится Сайт.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.1.4</b><br />
	Пользователь – лицо, заключившее с Администратором Соглашение, путем акцепта настоящей оферты, расположенной в сети Интернет по сетевому адресу nvuti.uno/terms.php. Сотрудники Администратора и родственники таких сотрудников не вправе акцептовать настоящую оферту и заключать Соглашение.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.1.5</b><br />
	Стороны – Администратор и Пользователь, являющиеся Сторонами настоящего Соглашения.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.1.6</b><br />
	Услуга – действия Администратора по организации работы Сайта и предоставлению Пользователю на безвозмездной и возмездной основе возможности проведения досуга в виде участия в безрисковых играх и развлечениях с использованием сервисов Сайта.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.1.7</b><br />
	N – виртуальная игровая единица Сайта, используемая в процессе оказания Администратором /получения Пользователем Услуги Сайта. Виртуальные игровые единицы – N Сайта nvuti.uno – используются только в рамках Сайта и не могут быть предметом каких бы то ни было сделок и операций вне Сайта. Приобретение Пользователем виртуальных игровых единиц – N – осуществляется только на Сайте и по правилам, указанным в настоящем Соглашении.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.1.8</b><br />
	Ставка - электронный документ, формируемый с помощью сервисов Сайта по указанию Пользователя, совершенным им на Сайте по средством специальных программных команд. Указанный электронный документ – Ставка – служит целям оформления/фиксации участия Пользователя, совершившего конкретную Ставку, в том или ином Раунде развлекательных безрисковых игр на Сайте. Ставки формируются с использованием (списанием) N.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.1.9</b><br />
	Раунд – временной отрезок/часть безрисковых игр, составляющих Услуги Сайта. Каждый раунд имеет момент начала и момент завершения. В ходе каждого раунда Пользователи могут совершать Ставки и узнавать результат безрисковой игры в текущем Раунде.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.2</b><br />
	Все остальные термины и определения, встречающиеся в тексте настоящего Соглашения, толкуются Сторонами в контексте значения терминов, указанных в п. 1.1. настоящего Соглашения, и в соответствии со сложившимися в сети Интернет обычными правилами толкования соответствующих терминов, не противоречащим положениям настоящего Соглашения.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.3</b><br />
	Названия заголовков (статей) настоящего Соглашения предназначены исключительно для удобства пользования текстом Соглашения и буквального юридического значения не имеют.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">1.4</b><br />
	В случае разночтений/несовпадений в трактовке терминов и определений в тексте настоящего Соглашения и в тексте правил и норм, размещенных на Сайте (например, в разделе «Помощь» Сайта) применяется и считается приоритетным толкование, содержащееся в тексте настоящего Соглашения (Публичной оферты).
</p>
<p>
	<h5>2. ПРЕДМЕТ СОГЛАШЕНИЯ.</h5>
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">2.1</b><br />
	Предметом настоящего Соглашения является предложение Администратора, обращенное к потенциальному Пользователю, получать с использованием сервисов Сайта развлекательно-аттракционные Услуги строго на условиях настоящего Соглашения.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">2.2</b><br />
	Лицо, акцептовавшее настоящую оферту, становится Пользователем и обязуется использовать Сайт только на условиях настоящего Соглашения.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">2.3</b><br />
	Пользование Услугами Сайта лицами, не обладающими полной дееспособностью (как по возрасту, так и по состоянию здоровья) в соответствии с нормами и законами соответствующей юрисдикции (страны пребывания физического лица) ЗАПРЕЩЕНО.
</p>
<p>
	<h5>3. ЗАКЛЮЧЕНИЕ, ИЗМЕНЕНИЕ, РАСТОРЖЕНИЕ СОГЛАШЕНИЯ</h5>
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">3.1</b><br />
	Администратор предоставляет Пользователю доступ к информации о Сайте, информации об Услугах Сайта, тексту настоящего Соглашения и иных нормативных документов, устанавливающих правила и нормы получения Услуг Сайта, до авторизации Пользователя на Сайте. После авторизации на Сайте Пользователю предоставляется возможность получения Услуг Сайта.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">3.2</b><br />
	Настоящее Соглашения считается заключенным с момента авторизации Пользователя на Сайте через введение в специальной форме логина и пароля учетной записи.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">3.2.1</b><br />
	Авторизуясь на Сайте, Пользователь выражает свое прямое, полное, безоговорочное и безусловное согласие с нормами настоящего Соглашения.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">3.3</b><br />
	Администратор в одностороннем порядке вправе в любой момент изменить, отменить, дополнить любые условия настоящего Соглашения и иных нормативных документов Сайта (правил, размещенных на Сайте и содержащих указания на нормы и порядок оказания Услуг сайта) без предварительного согласования с Пользователем.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">3.3.1</b><br />
	Измененный/дополненный текст настоящего Соглашения становится обязательным для всех без исключения авторизованных Пользователей по истечение 12 (двенадцати) часов с момента размещения измененного/дополненного текста Соглашения по сетевому адресу: nvuti.uno/terms.php.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">3.3.2</b><br />
	Пользователь обязан самостоятельно следить за изменениями в тексте Соглашения, размещенного по сетевому адресу: nvuti.uno/terms.php. Если по одностороннему усмотрению Администратора изменения потребуют персонального дополнительного уведомления Пользователей, то Администратор вправе (но не обязан) персонально уведомить круг Пользователей, которых могут коснуться изменения/дополнения.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">3.3.3</b><br />
	Использование Пользователем Сайта и его Услуг и сервисов после размещения по сетевому адресу: nvuti.uno/terms.php измененного текста настоящего Пользовательского Соглашения означает полное и безоговорочное согласие Пользователя с всеми без исключения нормами измененного текста Соглашения.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">3.4</b><br />
	При достижении 12ти месячного периода (подряд) отсутствия авторизации на Сайте от имени Администратора Пользователю направляется электронное уведомление о расторжении Соглашения.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">3.4.1</b><br />
	Если в течение 30 (тридцати) календарных дней с момента направления уведомления, Пользователь не совершил авторизацию на Сайте и не возобновил пользование Услугами Сайта, настоящее Соглашение с конкретным Пользователем считается расторгнутым.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">3.4.2</b><br />
	В случае расторжения настоящего Соглашения весь остаток виртуальных игровых единиц – N, имевшихся у Пользователя при пользовании Услугами на Сайте – аннулируется в момент расторжения Соглашения без какой бы то ни было компенсации (оплаченных и не потребленных развлекательных Услуг) в сторону Пользователя. После расторжения настоящего Соглашения Пользователь не вправе заявлять какие бы то ни было требования в адрес Администратора и Сайта, в том числе, но, не ограничиваясь: не вправе требовать возврата денежных средств за оплаченную, но не потребленную Услугу и т.п.
</p>
<p>
	<h5>4. УСЛУГИ САЙТА</h5>
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">4.1</b><br />
	Услуги, оказываемые на Сайте, являются зрелищно-развлекательными (графика/анимация, представленные на Сайте) и аттракционными (программа - симулятор). Услуги Сайта служат для удовлетворения личных эмоционально-психологических потребностей Потребителей и строятся по принципу - симулятора. То есть, с помощью представленных на сайте сервисов Потребитель может испытать эмоциональное удовлетворение от своего участия в симуляторе определенных игровых ситуация без принятия на себя бремени возможных негативных последствий того процесса (процесса, который в Услугах на Сайте представлен только в виде симулятора). Услуги сайта – являются имитатором (симулятором), позволяющим получить психо-эмоциональное удовлетворение без каких бы то ни было рисков для Пользователя, в связи с чем, Услуги Сайта относятся к аттракционным. Не допускается сговор между Пользователями в целях использования Услуг Сайта как механизма для организации основанных на риске игр. В случае обнаружения/выявления такого сговора, Администратор принимает меры по блокировки для виновных Пользователей возможности пользоваться Услугами Сайта.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">4.2</b><br />
	Неиспользованные виртуальные игровые единицы – N могут быть возвращены пользователю в соответствии со стоимостью их приобретения. Возврат осуществляется на платежные реквизиты, которые пользователь указывает в заявке на возврат неиспользованных N.
</p>
<p>
	<h5>5. ПОРЯДОК ПОЛЬЗОВАНИЯ УСЛУГАМИ САЙТА</h5>
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">5.1</b><br />
	При оказании Услуг Сайта используются виртуальные игровые единицы – N. Виртуальные игровые единицы – являются визуальными изображениями, сгенерированными программным обеспечением Сайта (N). Все права на указанные визуальные изображения (N) принадлежат владельцам соответствующего программного обеспечения и не передаются/не переуступаются Пользователям Сайта ни в право собственности, ни в иное вещное владение и\или обязательственное право. Виртуальные игровые единицы – необходимы для учета прав Пользователей на объем Услуги, которую Пользователь имеет право потребить на Сайте.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">5.2</b><br />
	Услуги Сайта оказываются путем приобретения и расходования (в предложенных на Сайте аттракционах) виртуальных игровых единиц Услуги Сайта могут быть оказаны как на возмездной (денежной) так и на безденежной основе в зависимости от способа получения Пользователем виртуальных игровых единиц.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">5.2.1</b><br />
	Пользователь может оплатить Услуги Сайта путем внесения денежных средств за покупку виртуальных игровых единиц – N. Способ оплаты указан в параграфе 6 настоящего Соглашения.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">5.3</b><br />
	Запрещается получать виртуальные игровые единицы с помощью умышленного или неосторожного использования вредоносных/вирусных программ и/или пользуясь недоработками/сбоями в работе Сайта.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">5.4</b><br />
	N, имеющиеся на балансе Пользователя, могут быть потрачены последним для участия (совершения Ставки) в разных видах игр, представленных на Сайте в качестве развлекательно-аттракционной Услуги Сайта, по правилам, указанным в разделе Помощь. на Сайте.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">5.5</b><br />
	Правила различных аттракционных игр, представленных на Сайте в качестве Услуг Сайта, могут существенно отличаться друг от друга. Правила игр размещены в разделе Помощь и/или в соответствующем разделе Сайта, участвуя в играх, Пользователь соглашается с правилами, указанными на Сайте.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">5.6</b><br />
	Для участия в той или иной игре на Сайте Пользователь совершает Ставку, в результате которой с баланса Пользователя списываются N в размере, обусловленном правилами Сайта и пожеланием Пользователя по размеру Ставки.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">5.7</b><br />
	В результате участия Пользователя в играх на Сайте баланс виртуальных игровых единиц Пользователя может уменьшаться (при совершении Ставки) и увеличиваться (при достижении обусловленного правилами Сайта результата игры на Сайте).<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">5.8</b><br />
	Возможность Пользователя принимать участие в Раундах игры на Сайте продолжается до момента обнуления баланса виртуальных игровых единиц Пользователя на Сайте. При отсутствии у Пользователя оплаченных (и/или иным образом приобретенных в соответствии с п. 5.2. настоящего Соглашения) виртуальных игровых единиц (N) такой Пользователь не может принять участие ни в каких играх, представленных на Сайте.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">5.9</b><br />
	Администратор может отменять проведение тех или иных Раундов без предварительного уведомления Пользователей. В указанном случае Администратор восстанавливает на балансе Пользователя на Сайте виртуальные игровые единицы, потраченные Пользователем при совершении Ставки на отмененный Раунд.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">5.10</b><br />
	Пользователям, участвующим в Раундах, запрещено предпринимать попытки сговора друг с другом с целью влияния на результат аттракциона (игры) в интересах одного или нескольких из таких Пользователей путем манипулирования ходом игры путем сговора о количестве и размере совершаемых Ставок. Выявление Администратором таких фактов, будет служить основанием к запрету доступа Пользователя к Услугам Сайта.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">5.11</b><br />
	Пользователям ЗАПРЕЩЕНО регистрировать более 1 учетной записи (аккаунтов), без предварительного согласования с администрацией. В случае нарушения – все учетные записи Пользователя будут заблокированы, а баланс игрового счета аннулирован.
</p>
<p>
	<h5>6. ОПЛАТА</h5>
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">6.1</b><br />
	Цены за N на Сайте устанавливаются Администратором и могут быть изменены по решению Администратора. Цены указываются на соответствующей странице Сайта.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">6.2</b><br />
	Пользователь вправе оплатить Услуги Сайта одним из способов оплаты, предусмотренных на Сайте. Оплата производится Пользователем посредством агрегатора электронной системы платежей (электронной платежной системы), позволяющей в реальном времени через сеть Интернет оплачивать товары и услуги, в том числе Услуги Сайта.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">6.3</b><br />
	Обязательства по оплате считаются исполненными Пользователем, в случае положительного результата авторизации платежа в системе электронных платежей, применяемой для оплаты Услуг Сайта. Доказательством совершения оплаты служит информация системы электронных платежей о совершенном платеже.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">6.4</b><br />
	При оплате Услуг Сайта по средством системы электронных платежей, применяемой для оплаты Услуг Сайта, платежной системой может взиматься комиссия с Пользователя по правилам платежной системы (системы электронных платежей). Администратор не несет ответственности за взимание таких комиссий платежными системами.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">6.5</b><br />
	Администратор не контролирует аппаратно-программный комплекс системы платежей и не несет ответственности за ошибки в таком аппаратно-техническом комплексе. Если в результате таких ошибок произошло списание денежных средств Пользователя, но платеж не был авторизован системой электронных платежей, обязанности по возврату денежных средств Пользователю лежат на провайдере/агрегаторе электронной системы платежей (платежной системы).<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">6.6</b><br />
	Все оплаченные Услуги Сайта являются добровольными пожертвованиями со стороны Пользователя.
</p>

<p>
	<h5>7. ИНТЕЛЛЕКТУАЛЬНАЯ СОБСТВЕННОСТЬ И ОГРАНИЧЕНИЯ ПРИ ИСПОЛЬЗОВАНИИ САЙТА</h5>
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">7.1</b><br />
	Сайт содержит результаты интеллектуальной деятельности, принадлежащие Администратору, его аффилированным лицам и другим связанным сторонам, спонсорам, партнерам, представителям, всем прочим лицам, действующим от имени Администратора, и другим третьим лицам.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">7.2</b><br />
	Используя Сайт, Пользователь признает и соглашается с тем, что все содержимое Сайта и структура содержимого Сайта защищены авторским правом, правом на товарный знак и другими правами на результаты интеллектуальной деятельности, и что указанные права являются действительными и охраняются во всех формах, на всех носителях и в отношении всех технологий, как существующих в настоящее время, так и разработанных или созданных впоследствии. Никакие права на любое содержимое Сайта, не переходят к Пользователю в результате использования Сайта и заключения настоящего Соглашения.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">7.3</b><br />
	Во избежание сомнений, как в целях защиты интеллектуальных прав, так и в любых иных целях, связанных с использованием Сайта, Пользователю запрещается:<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">7.3.1</b><br />
	копировать и/или распространять какие-либо объекты интеллектуальных прав, размещенных на Сайте, кроме случаев, когда такая функция прямо предусмотрена (разрешена) на Сайте;<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">7.3.2</b><br />
	использовать информацию, полученную на Сайте для осуществления коммерческой деятельности, извлечения прибыли, либо для использования противоречащим закону способом;<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">7.3.3</b><br />
	копировать, либо иным способом использовать программную часть Сайта, а также его дизайн;<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">7.3.4</b><br />
	размещать на Сайте персональные данные третьих лиц без их согласия, в том числе домашние адреса, телефоны, паспортные данные, адреса электронной почты;<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">7.3.5</b><br />
	изменять каким бы то ни было способом программную часть Сайта, совершать действия, направленные на изменение функционирования и работоспособности Сайта;<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">7.3.6</b><br />
	использовать оскорбительные, вводящие в заблуждение других Пользователей Сайта, нарушающие права и свободы третьих лиц и групп лиц, слова, в том числе: в качестве имени (ника, псевдонима);<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">7.3.7</b><br />
	использовать для получения Услуг Сайта программные, технические или аппаратные средства, не предусмотренные Сайтом.
</p>
<p>
	<h5>8. ОТВЕТСТВЕННОСТЬ</h5>
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">8.1</b><br />
	В случае нарушения Пользователем условий настоящего Соглашения, любых иных нормативных документов и правил, размещенных Администратором на Сайте, Администратор вправе в одностороннем внесудебном порядке заблокировать или удалить с Сайта аккаунт Пользователя, запретить либо ограничить доступ Пользователя к определенным или всем функциям Сайта. При этом такая блокировка или ограничения могут быть произведены Администратором без предварительного уведомления Пользователя и начинают действовать с момента принятия такого решения Администратором и совершения последним соответствующих технических действий. В случае блокировки или ограничения Администратором доступа Пользователя к аккаунту Пользователя на Сайте и/или Услугам Сайта по причине нарушения Пользователем условий настоящего Соглашения, любых иных нормативных документов и правил, размещенных Администратором на Сайте (что квалифицируется как – виновные (как умышленные так и неосторожные) действия со стороны Пользователя Сайта), имеющиеся на балансе Пользователя на Сайте N (виртуальные игровые единицы) аннулируются и не подлежат компенсации Администратором Пользователю ни в каком виде.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">8.2</b><br />
	Администратор не отвечает за работоспособность Сайта и не гарантирует его бесперебойной работы. Администратор также не гарантирует сохранности информации, размещенной на Сайте и возможности бесперебойного доступа к Услугам Сайта.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">8.3</b><br />
	Если из-за сбоя в работе аппаратно-программной части Сайта тот или иной Раунд игры (развлекательной Услуги Сайта) был завершен некорректно (не по правилам, указанным на Сайте), любой из Пользователей, участвовавший в соответствующем Раунде, в течение суток вправе заявить возражения на результат такого Раунда с указанием причин, воспользовавшись специальной формой обратной связи на Сайте. После рассмотрения такого возражения результат такого Раунда может быть аннулирован, а использованные Ставки - возвращены участвовавшим Пользователям. В противном случае Раунд признается состоявшимся.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">8.4</b><br />
	Пользователь использует Сайт в том виде, в каком он представлен в сети Интернет по сетевому адресу: nvuti.uno. Администратор не гарантирует Пользователю достижения каких-либо результатов вследствие использования Сайта.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">8.5</b><br />
	Администратор не несет ответственности перед Пользователем и не обязан предоставлять Услуги Сайта в случае, если Пользователь приобрел виртуальные игровые единицы способами отличными от указанных в п. 5.2. настоящего Соглашения.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">8.6</b><br />
	Администратор не несет ответственности за несовпадение субъективного впечатления Пользователя от Сайта и Услуг Сайта с ожиданиями Пользователя. Администратор не несет ответственности за то, какое действие и впечатления оказывают на Пользователя дизайн Сайта, шрифты и стиль размещения контента на Сайте.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">8.7</b><br />
	Администратор не гарантирует и не несет ответственности в случае если использование Услуг Сайта нормативно запрещено и/или ограничено в той юрисдикции, в которой находится Пользователь в момент захода на Сайт и/или использования Услуг Сайта.
</p>
<p>
	<h5>9. ОСОБЫЕ УСЛОВИЯ</h5>
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">9.1</b><br />
	Сайт может содержать ссылки на другие сайты в сети Интернет (сайты третьих лиц). Указанные третьи лица и их контент не проверяются Администратором на соответствие тем или иным требованиям (достоверности, полноты, законности и т.п.). Администратор не несет ответственности за любую информацию, материалы, размещенные на сайтах третьих лиц, к которым Пользователь получает доступ в связи с использованием Сайта, в том числе: за любые мнения или утверждения, выраженные на сайтах третьих лиц, рекламу и т.п., а также за доступность таких сайтов или контента и последствия их использования Пользователем.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">9.2</b><br />
	Администратор не гарантирует, что Сайт соответствует требованиям Пользователя, что доступ к Сайту будет предоставляться непрерывно, быстро, надежно и без ошибок. Программно-аппаратные ошибки, как на стороне Администратора, так и на стороне Пользователя, приведшие к невозможности получения Пользователем доступа к Сайту и/или личному аккаунту Пользователя на Сайте, являются обстоятельствами непреодолимой силы и основанием освобождения от ответственности за неисполнение обязательств Администратором по Соглашению.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">9.3</b><br />
	Администратор вправе уступать права и переводить долги по всем обязательствам, возникшим из Соглашения. Настоящим Пользователь дает свое согласие на уступку прав и перевод долга любым третьим лицам. О состоявшейся уступке прав и/или переводе долга Администратор информирует Пользователя, размещая соответствующую информацию на Сайте и такое уведомление Стороны признают достаточным.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">9.4</b><br />
	Администратор вправе отказать любому Пользователю в обслуживании на Сайте без объяснения причин.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">9.5</b><br />
	В некоторых случаях использования Сайта (в том числе, но, не ограничиваясь: в случае возникновения спора между Сторонами, в случае предоставления Пользователю каких-либо эксклюзивных опций на Сайте и в иных случаях, перечень не закрытый) Администратором может быть предложено Пользователю сообщить Администратору персональные данные Пользователя. В этом случае, предоставляя свои персональные данные, Пользователь тем самым соглашается (без совершения на то каких бы то ни было дополнительных формальных процедур кроме акцепта настоящего Соглашения) на то, что Администратор вправе обрабатывать персональные данные, предоставленные Пользователем, т.е. совершать любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных, предоставленных Пользователем.
</p>
<p>
	<h5>10. ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ</h5>
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">10.1</b><br />
	Все споры, разногласия и претензии, которые могут возникнуть в связи с исполнением, расторжением или признанием недействительным Соглашения, Стороны будут стремиться решить путем переговоров. Сторона, у которой возникли претензии и/или разногласия, направляет другой Стороне сообщение с указанием возникших претензий и/или разногласий.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">10.2</b><br />
	В случае если ответ на сообщение не будет получен направившей сообщение Стороной в течение 30 (тридцати) рабочих дней с даты направления соответствующего сообщения, либо если Стороны не придут к соглашению по возникшим претензиям и/или разногласиям в течение того же срока, спор подлежит разрешению в судебном порядке по месту нахождения Администратора.
</p>
<p>
	<h5>11. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h5>
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">11.1</b><br />
	В случае возникновения формального спора и передачи дела на рассмотрение в соответствующий суд, если судом какое-либо положения настоящего Соглашения будет признано недействительным и/или не подлежащим принудительному исполнению, это не влечет недействительности иных положений Соглашения, не затронутых такой трактовкой суда.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">11.2</b><br />
	Бездействие со стороны Администратора в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администратора права предпринять позднее соответствующие действия в защиту своих интересов и защиту интеллектуальных прав на охраняемые материалы и интересы Сайта.<br />
	<b style="color: rgba(0, 0, 0, 1); font-size: 16px; font-weight: 700">11.3</b><br />
	Пользователь подтверждает, что ознакомился со всеми положениями настоящего Соглашения, понимает и принимает их в полном объеме и без изъятий/оговорок.
</p>