<template>
  <div ref="accordion" class="accordion">
    <div  v-for="(item, index) in items"
          
          :key="`item__${index}`"

          class="item"
          data-item>
      <a  href="#"
          class="caption"
          data-caption
          
          @click.prevent.stop="toggleItem">
        <span>{{ item.title }}</span>
        <c-icon name="arrow" />
      </a>
      <div  v-html="item.description"

            ref="description"
            class="description"
            ></div>
    </div>
  </div>
</template>

<script>

import CIcon from '@/components/c-icon'


export default {
  name: 'c-accordion',
  components: {
    CIcon
  },
  props: {
    items: Array,
  },
  methods: {
    toggleItem(event) {
      const node = event.target.parentElement

      if (!node.classList.contains('active'))
        this.$refs.description.forEach(item =>
          item.parentElement.classList.remove('active'))

      node.classList.toggle('active')
    }
  },
  mounted() {
    if (this.$refs.description)
      this.$refs.description.forEach(item => {
        item.style.maxHeight = `${item.offsetHeight}px`
        item.parentElement.classList.add('loaded')
      })
  }
}

</script>

<style scoped>

  .accordion {
    position: relative;
  }

  .item {
    border-radius: 5px;
    background-color: var(--color-bg);

    overflow: hidden;
  }

  .item.active {
    padding-bottom: 10px;

    background-color: var(--color-bg-light);
  }

  .item:not(:last-child) {
    margin-bottom: 2px;
  }

  .caption {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
  }

  .caption span {
    pointer-events: none;
  }

  .caption svg {
    width: 15px;
    height: 15px;
  
    transition: .25s transform;

    pointer-events: none;
  }

  .item.active .caption svg {
    transform: rotate(90deg);
  }

  .description {
    padding: 0 20px;

    overflow: hidden;

    font-size: 14px;
    font-weight: 400;
    color: rgba(125, 125, 125, 1);

    transition: .25s max-height, .25s padding-top;
  }

  .item:not(.loaded) .description {
    z-index: -1;
    position: absolute;

    opacity: 0;
  }

  .item.loaded:not(.active) .description {

    max-height: 0 !important;
  }

  @media screen and (min-width: 768px) {
    
    .caption {
      padding: 10px 20px;

      font-size: 16px;
    }

  }

</style>