<template>
  <div class="support-content">
    <c-tickets-loading v-if="loading" />
    <c-support-empty v-else-if="!loading && !items.length" />
    <div  v-else 
          class="items">
      <c-support-item v-for="item in items"

                      v-bind="item"
                      :key="item.id"
                    />
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex'

import CSupportItem from '@/components/c-support-item'
import CSupportEmpty from '@/components/c-support-empty'
import CTicketsLoading from '@/components/loading/c-tickets-loading'

export default {
  name: 'c-all-tickets',
  components: {
    CSupportItem,
    CSupportEmpty,
    CTicketsLoading,
  },
  data() {
    return {
      loading: false
    }
  },
  computed: mapState('support', [
    'items'
  ]),
  mounted() {
    this.loading = true
    this.$store.commit('support/buttons', ['new'])
    this.$store.dispatch('support/getTickets')
      .finally(() => this.loading = false)
  },
}

</script>

<style scoped>

  .support-content {
    height: 100%;
  }

</style>