<template>
  <c-simple-page  class="root--auth" 
                  headingStyle="alt">
    <template slot="heading">{{ heading }}</template>
    <router-view></router-view>
  </c-simple-page>
</template>

<script>

import CSimplePage from './c-simple-page.vue'

export default {
  name: 'c-auth',
  components: {
    CSimplePage,
  },
  computed: {
    heading() {
      return this.$route.name === 'registration' ? 'Регистрация' : 'Авторизация'
    },
  },
}

</script>

<style scoped>

  .root--auth {
    flex: 1;

    height: 100%;
  }

</style>