<template>
  
  <div class="root">
    <div  class="avatar"
          
          :style="`background-color: ${color}`">
      {{ abbr }}
    </div>
    <h2 class="username">
      {{ username }}
    </h2>
  </div>

</template>

<script>

export default {
  name: 'c-avatar',
  props: {
    color: {
      type: String,
      default: 'var(--color-primary)',
    },
    username: {
      type: String,
      value: 'Unknown',
    },
  },
  computed: {
    abbr() {
      if (!this.username)
        return 'UN'

      return this.getUsernameAbbr().toLocaleUpperCase()
    }
  },
  methods: {
    getUsernameAbbr(type = "ward") {
      switch (type) {
        case 'ward': {
          const wards = this.username.split(' ')
          if (wards.length > 1)
            return wards.map((ward, index) =>
              index < 2 ? 
                ward.charAt(0) :
                  "").join('')

          return this.getUsernameAbbr('upprcase')
        }
        case 'upprcase': {
          const upprcases = this.username.match(/[A-Z]/g)
          if (upprcases)
            if (upprcases.length > 1)
              return upprcases.splice(0, 2).join('')

          return this.getUsernameAbbr('simple')
        }
        default: {
          const string = this.username

          if (string.length > 1)
            return [string.charAt(0), string.charAt(1)].join('')

          return string[0]
        }
      }
    }
  }
}

</script>

<style scoped>

  .root {
    max-width: 100%;
    width: max-content;

    margin-left: auto;
    margin-right: auto;
  }

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 110px;
    height: 110px;

    margin-left: auto;
    margin-right: auto;
    
    border-radius: 110px;
    border: 5px solid var(--color-bg);
    background-color: var(--color-primary);

    color: white;
    font-size: 45px;
    font-weight: bold;
  }

  .username {
    padding: 0;
    margin: 10px 0 0;

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--color-bg-dark);
  }

</style>