<template>
  
  <div class="bet">
    <label>Сумма</label>
    <label class="field">
      <a  href="#"

          @click.prevent="$store.dispatch('game/doBet', 'decrement')">-</a>
      <input  ref="field"
              type="number"
              class="input"

              v-model="value"
              :style="`font-size: ${measuredFontSize}px`"
            />
      <a  href="#"

          @click.prevent="$store.dispatch('game/doBet', 'increment')">+</a>
    </label>
    <div class="buttons">
      <c-styled-button  v-for="btn in buttons"

                        :key="btn.name"
                        v-bind="btn.config"
                        :disabled="disabledHandle(btn.name)"
                        
                        @click.native="$store.dispatch('game/doBet', btn.name)" />
    </div>
  </div>

</template>

<script>
import { mapGetters } from 'vuex'

import CStyledButton from "./c-styled-button.vue"

export default {
  name: 'c-bet',
  components: {
    CStyledButton
  },
  props: {
    min: {
      default: 0,
      type: Number,
    },
    total: {
      default: 0,
      type: Number,
    },
  },
  data() {
    return {
      buttons: [
        {
          name: 'x2',
          config: {
            label: 'x2',
            theme: 'default',
          },
        },
        {
          name: 'half',
          config: {
            label: '1/2',
            theme: 'default',
          },
        },
        {
          name: 'min',
          config: {
            label: 'МИН',
            theme: 'default',
          },
        },
        {
          name: 'total',
          config: {
            label: 'МАКС',
            theme: 'default',
          },
        },
      ]
    }
  },
  computed: {
    ...mapGetters('account', [
      'getTotal',
    ]),
    ...mapGetters('game', [
      'getMax',
      'getBet',
      'getSlider',
    ]),
    measuredFontSize() {
      const length = this.getBet.toString().length

      return length > 4 ? 48 - ((length - 4) * 10) : 48
    },
    value: {
      get() {
        return this.getBet
      },
      set(value) {
        this.$store.commit('game/setBet', value)
      },
    }
  },
  methods: {
    disabledHandle(name) {
      if (!this.getTotal)
        return true

      switch(name) {
        case 'x2':
          return (this.getBet * 2 >= this.getTotal)
        case 'half':
          return (this.getBet / 2 < this.getSlider.min)
        case 'min':
          return !this.getBet || this.getBet === this.getSlider.min
        case 'total':
          return !this.getBet || this.getBet === this.getTotal
      }
    },
  },
  updated() {
    if (this.getTotal > 0 && this.getBet <= 0)
      this.$store.commit('game/setBet', 1)
  }
}

</script>

<style scoped>

  .bet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 5px 20px 10px;

    border-radius: 5px;
    border: 1px solid var(--color-bg);
    background-color: var(--color-bg-light);
  }

  .field {
    display: flex;
    align-items: center;

    margin: 12px 0 20px;
  }

  .field input {
    flex: 1;

    border: none;
    border-radius: 0;

    padding: 0;
    margin: 0 10px;

    background-color: transparent;

    font-size: 48px;
    font-weight: 400;
    text-align: center;
    color: var(--color-primary);
  }

  .field a {
    flex: 0 0 35px;

    width: 35px;
    height: 35px;

    border-radius: 35px;
    background-color: white;
    box-shadow: var(--shadow-default);

    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: var(--color-dark);

    transition: .25s box-shadow, .25s background-color;
  }

  .field a:hover {
    box-shadow: var(--shadow-dark);
  }

  .field a:active {
    background-color: var(--color-bg);
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .buttons button {
    padding: 3px 10px;

    font-size: 12px;
    font-weight: 400;
  }

</style>