<template>
  <label class="root">
    <input  type="checkbox"
    
            @change="$emit('input', $event.target.checked)"
          />
    <span class="control">
      <c-icon name="tick" />
    </span>
    <span class="label">
      <slot></slot>
    </span>
  </label>
</template>

<script>
import CIcon from './c-icon.vue'

export default {
  name: 'c-checkbox',
  components: {
    CIcon,
  },
}

</script>

<style scoped>

  .root {
    display: flex;
    align-items: center;
  }

  .root input[type="checkbox"] {
    display: none;
  }

  .control {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;

    width: 25px;
    height: 25px;

    margin-right: 10px;

    border-radius: 5px;
    border: 2px solid var(--color-bg);
    background-color: var(--color-bg-light);

    cursor: pointer;

    transition: .25s border-color, .25s background-color;
  }

  .control svg {
    width: 15px;
    height: 15px;

    opacity: 0;
    color: white;

    transition: .25s opacity;
  }

  .root input[type="checkbox"]:checked + .control {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }

  .root input[type="checkbox"]:checked + .control svg {
    opacity: 1;
  }

  .label {
    font-size: 13px;
    font-weight: 350;
    color: var(--color-label);

    cursor: pointer;
  }

  .label > *:not(:last-child) {
    margin-right: 5px;
  }

</style>