<template>
  <div class="form">
    <div class="social">
      <c-styled-button v-bind="VKAuthBtn" />
    </div>
    <div class="separator">
      <span>или</span>
    </div>
    <div class="old-fashioned-way">
      <div class="field">
        <input  v-model="username"

                type="text"
                placeholder="Логин"
                class="input input--large"
              />
      </div>
      <div class="field">
        <input  v-model="password"

                type="password"
                placeholder="Пароль"
                class="input input--large"
              />
      </div>
      <div class="actions">
        <vue-recaptcha  ref="recaptcha"
                        class="recaptcha"

                        :language="lang"
                        :loadRecaptchaScript="true"
                        sitekey="6LfKIj4aAAAAAPkVGRkG-sSkN1T19SBFVq1Z9yEw"

                        @verify="recaptchaVerify"
                        @expired="recaptchaExpired"
                      />
        <c-styled-button  v-bind="SubmitBtn"
                          
                          @click.native="submit"
                        />
      </div>
      <div class="hint">
        <span>Нету аккаунта?</span>
        <router-link  class="link"
                      to="/registration">
          Регистрироваться
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>

import VueRecaptcha from 'vue-recaptcha'
import CStyledButton from './c-styled-button'

export default {
  name: 'c-form-login',
  components: {
    VueRecaptcha,
    CStyledButton,
  },
  props: {
    changeScreen: Function,
  },
  data() {
    return {
      lang: 'ru_RU',
      username: '',
      password: '',
      loading: false,
      recaptchaToken: '',
      VKAuthBtn: {
        icon: {
          name: 'vk',
          color: '#2787F5',
          position: 'left',
        },
        label: 'Через Вконтакте',
      },
      SubmitBtn: {
        size: 'large',
        label: 'Войти',
        theme: 'primary',
      },
    }
  },
  methods: {
    async submit() {
      if (!this.username || !this.password)
        return this.$notify({
          type: 'error',
          group: 'system',
          title: 'Ошибка авторизации',
          text: 'Пожалуйста заполните все поля',
        })

      if (!this.recaptchaToken)
        return this.$notify({
          type: 'error',
          group: 'system',
          title: 'Ошибка авторизации',
          text: 'Пожалуйста подтвердите что вы человек',
        })

      const query = await this.$store.dispatch('account/signIn', {
        username: this.username,
        password: this.password,
        recaptchaToken: this.recaptchaToken,
      })
      
      if (query.status === 200) {
        if (this.$route.path !== '/')
          this.$router.push('/')
      } else {
        this.$refs.recaptcha.reset()
      }
    },
    recaptchaVerify(recaptchaToken) {
      this.recaptchaToken = recaptchaToken
    },
    recaptchaExpired() {
      if (this.$refs.recaptcha)
        this.$refs.recaptcha.reset();
    },
  },
}

</script>

<style scoped>

  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .social {
    flex: 0 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: auto;
    max-width: 100%;
  }

  .social > *:not(:last-child) {
    margin-bottom: 15px;
  }

  .social button {
    background-color: var(--color-bg-light);

    font-size: 14px;
  }

  .separator {
    flex: 0 0 auto;

    position: relative;
    
    width: auto;
    margin: 15px 0;
    max-width: 100%;
  }
  
  .separator span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    margin: 0 auto;

    border-radius: 30px;
    background-color: var(--color-bg);

    font-size: 13px;
    color: var(--color-bg-dark);
  }

  .separator::before {
    content: '';

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(90deg);

    width: 1px;
    height: 320px;
    background-color: var(--color-bg);
  }

  .recaptcha {
    transform: scale(0.8);
  }

  .old-fashioned-way {
    flex: 1;

    max-width: 100%;
  }

  .field {
    margin-bottom: 15px;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .actions > * {
    flex: 0 0 100%;
  }

  .actions button {
    height: 46px;

    margin-top: 15px;
  }

  .hint {
    margin-top: 15px;

    font-size: 16px;
    color: var(--color-label);
  }

  .hint a {
    margin-left: 10px;
  }

  @media screen and (min-width: 768px) {

    .form {
      flex-direction: row;

      padding: 35px 20px;
    }

    .separator span {
      margin: 0 30px;
    }

    .separator::before {
      transform: translate(-50%, -50%) rotate(0deg);

      height: 200px;
    }

  }

  @media screen and (min-width: 992px) {

    .recaptcha {
      transform: scale(0.8);
    }

  }

  @media screen and (min-width: 1200px) {

    .social {
      flex: 0 0 250px;

      width: 250px;
    }
    
    .actions {
      height: 46px;
      flex-wrap: nowrap;
      
      margin-left: -10px;
      margin-right: -10px;
    }

    .actions > * {
      flex: 1;

      margin: 0 10px;
    }

    .actions button {
      margin-top: 0;
    }

    .recaptcha {
      transform: scale(0.6) translateX(-60px);
    }

  }

</style>