<template>
  <div class="form">
    <div class="field">
      <input  v-model="form.username"

              placeholder="Логин"
              class="input input--large"
            />
    </div>
    <div class="field">
      <input  v-model="form.password"

              type="password"
              placeholder="Пароль"
              class="input input--large"
            />
    </div>
    <div class="field">
      <input  v-model="form.rpassword"
              
              type="password"
              class="input input--large"
              placeholder="Повторить пароль"
            />
    </div>
    <div class="checkbox">
      <c-checkbox v-model="form.agree">
        <span>Cоглашаюсь с</span>
        <router-link to="/page/user-agreements">
          Пользовательским соглашением
        </router-link>
      </c-checkbox>
    </div>
    <div class="actions">
      <vue-recaptcha  ref="recaptcha"
                      class="recaptcha"
                      
                      :language="lang"
                      :loadRecaptchaScript="true"
                      sitekey="6LfKIj4aAAAAAPkVGRkG-sSkN1T19SBFVq1Z9yEw"
                      

                      @verify="recaptchaVerify"
                      @expired="recaptchaExpired"
                    />
      <c-styled-button  v-bind="submitBtn"

                        @click.native="submit"
                      />
    </div>
    <div class="hint">
      <span>Есть аккаунт?</span>
      <router-link  to="/"
                    class="link">
        Войти
      </router-link>
    </div>
  </div>
</template>

<script>

import { RULES } from '@/config'

import VueRecaptcha from 'vue-recaptcha'

import CCheckbox from '@/components/c-checkbox.vue'
import CStyledButton from '@/components/c-styled-button.vue'

export default {
  name: 'c-form-registration',
  components: {
    CCheckbox,
    VueRecaptcha,
    CStyledButton,
  },
  props: {
    changeScreen: Function,
  },
  data() {
    return {
      loading: false,
      submitBtn: {
        size: 'large',
        theme: 'primary',
        label: 'Зарегистрироваться',
      },
      lang: 'ru_RU',
      form: {
        agree: false,
        username: '',
        password: '',
        rpassword: '',
        recaptchaToken: '',
      },
    }
  },
  methods: {
    goToSignIn() {
      if (typeof this.changeScreen === 'function')
        this.changeScreen('sign-in')
    },
    submit() {
      const error = {
        text: false,
        type: 'error',
        group: 'system',
        title: 'Ошибка регистрации',
      }

      if (!this.form.recaptchaToken)
        error.text = 'Пожалуйста подтвердите что вы человек'

      if (!this.form.agree)
        error.text = 'Для регистрации нужно принять пользовательский соглашение'

      if (this.form.password !== this.form.rpassword)
        error.text = 'Пароли не совпадают'

      if (!RULES.Password.test(this.form.password))
        error.text = 'Пароль должен быть не менее 8 символов, только латинские буквы, содержать цифра и прописная буква'

      if (!this.form.username)
        error.text = 'Пожалуйста заполните все поля'

      if (error.text)
        return this.$notify(error)
  
      if (!error.text) {
        this.loading = true
        this.$store.dispatch('account/signUp', this.form)
          .then(response => {
            if (response.status === 200) {
              this.$notify({
                type: 'success',
                group: 'system',
                title: 'Регистрация',
                text: 'Регистрация успешно выполнена',
              })
              this.$router.push('/')
            }
          })
          .finally(() => this.loading = false)
      }

    },
    recaptchaVerify(recaptchaToken) {
      this.form.recaptchaToken = recaptchaToken
    },
    recaptchaExpired() {
      this.$refs.recaptcha.reset();
    },
  },
}

</script>

<style scoped>

  .form {
    max-width: 420px;

    margin-left: auto;
    margin-right: auto;
  }

  .field {
    margin-bottom: 15px;
  }

  .actions {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .actions > * {
    flex: 0 0 100%;

    margin: 0 20px;
  }

  .actions button {
    height: 46px;

    margin-top: 15px;
  }

  .checkbox {
    display: flex;
    align-items: center;

    margin-bottom: 15px;

    font-size: 13px;
    color: var(--color-label);
  }

  .checkbox > *:not(:last-child) {
    margin-right: 5px;
  }

  .recaptcha {
    transform: scale(0.8);
  }

  .hint {
    margin-top: 15px;

    font-size: 16px;
    color: var(--color-label);
  }

  .hint a {
    margin-left: 5px;
  }

  @media screen and (min-width: 768px) {
    
    .form {
      padding: 10px 10px 20px;
    }

    .actions {
      flex-direction: row;

      height: 46px;

      margin-left: -20px;
      margin-right: -20px;
    }
    
    .actions > * {
      flex: 1;
    }

    .actions button {
      margin-top: 0;
    }

    .recaptcha {
      transform: scale(0.6) translateX(-55px);
    }

  }

</style>