<template>
  <svg  :class="seTtheme" :style="setStyle">
    <use :xlink:href="`/assets/svg/icons.svg#${name}`"></use>
  </svg>
</template>

<script>

export default {
  name: "c-icon",
  props: {
    name: String,
    color: String,
    theme: String,
  },
  computed: {
    seTtheme() {
      const classnames = ['svg'];
      
      if (this.name)
        classnames.push(`svg--${this.name}`)

      return classnames.join(' ')
    },
    setStyle() {

      if (this.color)
        return `color: ${this.color}`

      return null
    }
  },
}
</script>