<template>
  <nav class="root" role="navigation">
    <ul>
      <li v-for="item in menu"
          
          :key="item.key"
          :class="{
            'content--placeholder content--placeholder-alt': loading
          }">
        <span v-if="item.key === 'support' && notifySupport"
              
              class="counter">{{ notifySupport }}</span>
        <router-link :to="item.url">
          <c-icon v-if="item.icon"
          
                  :name="item.icon"
                />
          <span>
            {{ item.label }}
          </span>
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>

import { mapState, mapGetters } from 'vuex'

import CIcon from './c-icon'

export default {
  name: 'c-menu',
  components: {
    CIcon,
  },
  computed: {
    ...mapState({
      menu: state => state.menu.sidebar.list,
      loading: state => state.menu.sidebar.loading,
    }),
    ...mapGetters('account', [
      'notifySupport',
    ])
  },
  created() {
    this.$store.dispatch('getMenu', 'sidebar')
  }
}

</script>

<style scoped>

  .root {
    height: 100%;

    overflow: hidden;
  }

  .root ul {
    height: max-content;

    padding: 30px 0;
  }

  li {
    position: relative;
  }

  li.content--placeholder {
    margin-bottom: 2px;
  }

  svg {
    z-index: 1;
    position: relative;

    width: 20px;
    height: 20px;

    margin-right: 10px;
  }

  a {
    position: relative;

    display: flex;
    align-items: center;
    
    padding: 10px 20px;

    overflow: hidden;

    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none !important;

    transition: background .25s ease-out;
  }

  a::before {
    content: '';

    top: 0;
    z-index: 0;
    left: -100%;
    position: absolute;

    width: 100%;
    height: 100%;

    background: linear-gradient(89.92deg, #005371 0.06%, #005371 0.06%, #005371 0.06%, #005371 0.06%, #005371 0.07%, #1D6B87 16.37%, #2187AC 62.63%);

    transition: left .25s;
  }

  .router-link-exact-active {
    background: var(--color-secondary-hover)
  }

  a:not(.router-link-exact-active):hover::before {
    left: 0;
  }

  span {
    z-index: 1;
    position: relative;
  }

  .counter {
    top: 50%;
    z-index: 2;
    right: 100%;
    position: absolute;
    transform: translate(30px, -50%);

    width: 25px;
    height: 25px;

    border-radius: 25px;
    background-color: var(--color-success);

    color: white;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    
    .root {
      overflow: visible;
    }

    .counter {
      transform: translate(15px, -50%);
    }

  }

</style>