<template>
  <div class="support-ticket">
    <div class="messanger" v-if="!loading && id">
      <div class="messages-wrapper">
        <div  id="merssenger"
              ref="scrollbar"
              class="messages">
          <div  v-for="(msg, index) in messages"
                
                :key="id + index"
                :class="`msg msg--${msg.owner}`">
            <span class="text">{{ msg.message }}</span>
            <timeago  class="timer"
                      
                      :auto-update="60"
                      :datetime="msg.date"
                    />
          </div>
        </div>
      </div>
      <div  v-if="status !== 'closed'"
      
            :class="{
              form: true,
              disabled: this.localLoading
            }">
        <textarea v-model="message" 
        
                  class="input"
                  placeholder="Сообщение"></textarea>
        <c-styled-button  v-bind="submit"

                          @click.native="submitHandle"
                        />
      </div>
      <div  v-else
            class="ticket-closed">
        <c-icon name="lock" />
        <span>Тикет  закрыт</span>
      </div>
    </div>
    <div  v-else
          class="ticket-no-found">
      {{ response.message }}
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex'

import CIcon from './c-icon.vue'
import CStyledButton from '@/components/c-styled-button.vue'

export default {
  name: 'c-messanger',
  components: {
    CIcon,
    CStyledButton,
  },
  data() {
    return {
      loading: true,
      localLoading: false,
      submit: {
        theme: 'success',
        label: 'Отправить',
      },
      message: '',
      response: {
        message: 'Loading...',
      },
    }
  },
  computed: mapState('messenger', [
    'id',
    'status',
    'section',
    'subject',
    'messages',
  ]),
  methods: {
    scrollToBottom() {
      if (this.$refs.scrollbar)
        this.$refs.scrollbar.scrollTop = this.$refs.scrollbar.scrollHeight
    },
    submitHandle() {
      if (this.localLoading)
        return false
      
      if (!this.message)
        return this.$notify({
          type: 'error',
          group: 'system',
          title: 'Ошибка',
          text: 'Укажите текст сообщения',
        })

      this.localLoading = true
      
      this.$store.dispatch('messenger/messaging', {
        'message': this.message,
        'ticket-id': this.$route.params.id,
      })
        .then(({ status, result }) => {
          if (status === 200 && result)
            this.message = ''
        })
          .finally(() => this.localLoading = false)
      
    }
  },
  beforeCreate() {
    this.$store.commit('support/buttons', ['back'])
    this.loading = true
      this.$store.dispatch('messenger/getData', {
        id: this.$route.params.id,
      })
        .then(response => {
          this.response = response
          if (response.status === 200 && response.result) {
            this.$store.commit('support/subject', response.result.subject)

            const buttons = ['back'];
            if (response.result.status !== 'closed')
              buttons.unshift('block')

            this.$store.commit('support/buttons', buttons)
          }
          
        })
          .finally(() => this.loading = false)

    this.$store.subscribe(mutation => {
      if (['messenger/mergeResult', 'messenger/pushMessage'].includes(mutation.type))
        setTimeout(() => 
          this.scrollToBottom(),
            100)
    })
  },
}
</script>

<style scoped>

  .support-ticket {
    height: 100%;
  }

  .messanger {
    display: flex;
    flex-direction: column;
  }

  .messages-wrapper {
    flex: 0 0 410px;

    padding: 5px 0;
    margin-bottom: 30px;

    background-color: var(--color-bg-light);
  }

  .messages {
    padding: 15px 25px;

    max-height: 400px;

    overflow: hidden;
    overflow-y: auto;
  }

  .msg {
    display: flex;
    flex-direction: column;

    max-width: 52%;
    width: max-content;

    margin-bottom: 25px;

    word-break: break-word;
  }

  .msg--1 {
    align-items: flex-end;

    margin-left: auto;
  }

  .text {
    display: block;

    width: 100%;
    max-width: 100%;

    padding: 10px;

    border-radius: 5px;

    font-size: 14px;
    font-weight: normal;
    color: var(--color-bg-dark);
  }

  .msg--0 .text {
    background-color: var(--color-bg);
  }

  .msg--1 .text {
    background-color: var(--color-primary);

    color: white;
  }

  .timer {
    display: block;

    padding: 0px 10px;

    font-size: 10px;
    color: var(--color-label);
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .form.disabled {
    opacity: .75;
    pointer-events: none;
  }

  .form .input {
    flex: 1;

    height: 44px;

    resize: none;
  }

  .form button {
    margin-top: 10px;
  }

  .ticket-no-found {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    font-size: 30px;
    color: var(--color-label);
  }

  .ticket-closed {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 44px;

    border-radius: 5px;
    background-color: var(--color-danger);

    color: white;
  }

  .ticket-closed span {
    margin-left: 15px;
  }

  .ticket-closed svg {
    width: 15px;
    height: 15px;
  }

  @media screen and (min-width: 576px) {

    .form {
      flex-direction: row;
    }

    .form button {
      margin-top: 0;
      margin-left: 15px
    }

  }

</style>