<template>
  <nav class="navigation" role="navigation">
    <ul>
      <li v-for="item in menu"

          :key="item.key"
          :class="{
            'content--placeholder': loading
          }">
        <router-link :to="item.url">
          {{ item.label }}
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'c-navigation',
  computed:mapState({
    menu: state => state.menu.header.list,
    loading: state => state.menu.header.loading,
  }),
  created() {
    this.$store.dispatch('getMenu', 'header')
  },
}

</script>

<style scoped>

  nav.navigation ul {
    display: flex;
    align-items: center;
  }

  nav.navigation ul li {
    font-size: 16px;
    color: var(--color-bg-dark);
    
    transition: background-color .25s;
  }

  nav.navigation ul li:hover {
    background-color: var(--color-bg-light);
  }

  nav.navigation ul li .router-link-exact-active {
    background-color: var(--color-bg);
  }

  nav.navigation ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70px;
    
    padding: 15px;

    color: inherit;
    text-decoration: none !important;
  }

  nav.navigation ul li.content--placeholder {
    margin-left: 2px;
  }

  nav.navigation--aside {
    max-width: 100%;
  }

  nav.navigation--aside ul {
    flex-direction: column;
  }

  nav.navigation--aside ul li {
    width: 100%;
  }

  nav.navigation--aside ul li a {
    justify-content: flex-start;

    height: auto;
  }

</style>