<template>
  <div class="new-ticket">
    <div class="field">
      <label class="input-field">Раздел</label>
      <div class="field--select">
        <select v-model="form.section"
                class="input input--large">
          <option v-for="(section, index) in sections"
                  
                  :key="index"
                  :value="section.value">
            {{ section.label || section.value }}
          </option>
        </select>
        <c-icon name="arrow" />
      </div>
    </div>
    <div class="field">
      <label class="input-label">Тема</label>
      <input  v-model="form.subject"
              class="input input--large"
            />
    </div>
    <div class="field">
      <label class="input-label">Сообщение</label>
      <textarea v-model="form.message"
                class="input input--large"></textarea>
    </div>
    <c-styled-button  class="submit"
                      v-bind="submit"

                      @click.native="submitHandle" />
  </div>
</template>

<script>

import { mapState } from 'vuex'

import CIcon from '@/components/c-icon.vue'
import CStyledButton from '@/components/c-styled-button.vue'

export default {
  name: 'c-new-ticket',
  components: {
    CIcon,
    CStyledButton,
  },
  data() {
    return {
      loading: false,
      submit: {
        label: 'Отправить',
        theme: 'success',
      },
      form: {
        section: '',
        subject: '',
        message: '',
      },
    }
  },
  computed: mapState('support', [
    'sections'
  ]),
  methods: {
    submitHandle() {
      if (!this.form.message || !this.form.subject) {
        this.$notify({
          type: 'error',
          group: 'system',
          title: 'Ошибка',
          text: 'Пожалуйста заполните все поля',
        })
      } else {
        this.loading = true
        this.$store.dispatch('support/createTicket', this.form)
          .then(({ status, result }) => {
            if (status === 200 && result)
              this.$router.push(`/support/messanger/${result.id}`)
          })
            .finally(() => this.loading = false)
      }
    }
  },
  mounted() {
    this.$store.dispatch('support/getSections')
    this.$store.commit('support/buttons', ['back'])
  },
}

</script>

<style scoped>

  .field {
    margin-bottom: 25px;
  }

  .field .input {
    resize: none;
  }

  textarea.input {
    height: 150px;
  }

  .submit {
    display: block;

    margin-left: auto;
  }

</style>