<template>
  <c-simple-page  fullHeight
                  headingStyle="alt">
    <template slot="heading">Игра</template>

    <div class="slider">
      <c-range-slider />
    </div>
    <div class="fields"></div>
    <div class="info">
      <div class="bet">
        <c-bet  class="node--bet"
                
                :total="total"
                :min="total ? 1 : 0"
              />
      </div>
      <div :class="{
          game: true,
          playing: playing,
        }">
        <div class="wrapper">
          <div class="win__wrapper">
            <div class="win__label">
              <label>Возможный выигрыш</label>
            </div>
            <number class="win"

                    :from="0"
                    :delay="0"
                    :to="getWin"
                    :duration="0.5"
                    :format="numberFormatHandler"
                  />
          </div>
          <div  :class="{
                  combination: true,
                  [`combination--${getCombination.color}`]: true
                }">
            <vue-odometer format=""
                          :duration="500"
                          :value="getCombination.value"
                        />
          </div>
        </div>
        <c-styled-button  v-bind="playBnt"

                          :class="{
                            loading: this.loading
                          }"

                          @click.native="playHandler"
                        />
      </div>
    </div>
  </c-simple-page>
</template>

<script>


import { mapState, mapGetters } from 'vuex'

import VueOdometer from 'vue-odometer'

import { createQuery } from '@/utils'
import { API } from '@/config'

import CBet from '@/components/c-bet'
import CStyledButton from './c-styled-button.vue'
import CRangeSlider from '@/components/c-range-slider'
import CSimplePage from '@/components/c-simple-page.vue'

export default {
  name: 'c-panel',
  components: {
    CBet,
    CSimplePage,
    VueOdometer,
    CRangeSlider,
    CStyledButton,
  },
  data() {
    return {
      loading: false,
      playing: false,
      playBnt: {
        size: 'large',
        label: 'Играть',
        theme: 'success',
      },
    }
  },
  computed: {
    ...mapState('account', [
      'total',
    ]),
    ...mapGetters('game', [
      'getWin',
      'getBet',
      'getRange',
      'getSlider',
      'getCombination'
    ]),
  },
  methods: {
    numberFormatHandler: (number) => number.toFixed(2),
    async playHandler() {
      if (this.loading)
        return;

      this.loading = true

      const query = {
        query: 'play',
        bet: this.getBet,
        range: JSON.stringify(this.getRange)
      };

      const response = await this.axios.post(API.URI, createQuery(query))

      if (response.status === 200) {
        const { status, result, message } = response.data

        if (status === 200) {
          this.playing = true;

          this.$store.commit('game/setCombination', {
            value: result.number,
            color: result.win ? 'success' : 'danger',
          })

          this.$store.commit('account/setTotal', result.total)

        } else {
          this.$notify({
            type: 'error',
            text: message,
            group: 'system',
            title: 'Внимание!',
          })
        }
        this.loading = false
      }
    },
  },
}
 
</script>

<style scoped>

  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 20px -15px 0;
  }

  .info > div {
    flex: 0 0 100%;

    padding: 0 15px;
  }

  .node--bet {
    height: 100%;
  }

  .game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 150px;
  }

  .game button.loading {
    opacity: .75;
    pointer-events: none;
  }

  .gamer .wrapper {
    margin-top: 7px;
  }

  .game .win__label {
    flex: 1;
  }

  .game .win__label label {
    display: block;

    max-width: 100%;
    width: max-content;
    
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .game .win {
    display: block;

    margin: 7px 0 11px;

    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: var(--color-gold-active);

    transition: .25s all ease-in-out;
  }

  .game.playing .win {
    margin: 0;
    font-size: 20px;
  }
  
  .win__wrapper {
    display: flex;
    flex-direction: column;

    padding: 5px 20px 0;
  }

  .game.playing .win__wrapper {
    flex-direction: row;
  }

  .combination {
    overflow: hidden;

    height: 0;

    opacity: 0;
    line-height: 0;
    font-size: 50px;
    font-weight: 400;
    text-align: center;

    transition: .25s all ease-in-out;
  }

  .game.playing .combination {
    height: 78px;

    padding-top: 17px;

    opacity: 1;
    line-height: 1;
  }

  .combination.combination--success {
    color: var(--color-success);
  }

  .combination.combination--danger {
    color: var(--color-danger);
  }

  @media screen and (min-width: 576px) {
    .info > div {
      flex: 1;
    }
  }

</style>