<template>
  <svg  ref="root"
        :class="classnames"

        :width="width"
        :height="height">
    <g>
      <circle ref="circle"
              class="circle"
              fill="transparent"
              stroke="currentColor"
              
              :cx="radius"
              :cy="radius"
              :r="radius - stroke.circle"
              :stroke-width="stroke.circle"
            />
      <circle ref="progrss"
              class="progrss"
              fill="transparent"
              stroke-linecap="round"
              
              :cx="radius"
              :cy="radius"
              :stroke-width="stroke.progress"
              :r="radius - stroke.progress - 1"
              :stroke="`url(#gradient__${key})`"
              :style="`stroke-dasharray: ${circumference} ${circumference}; stroke-dashoffset: ${offset}`"
            />
      <text class="value"
            
            x="50%"
            y="50%"
            dy=".3em"
            text-anchor="middle">
        {{ sanitialized }}%
      </text>
    </g>
    <defs>
      <linearGradient :id="`gradient__${key}`"
                      
                      x1="0%"
                      y1="0%"
                      x2="0%"
                      y2="100%">
        <stop offset="0%"
              
              :stop-color="theme.color.stop"
            />
        <stop :offset="`${sanitialized}%`"
              :stop-color="theme.color.start"
            />
      </linearGradient>
    </defs>
  </svg>

</template>

<script>

export default {
  name: 'c-progress',
  props: {
    animate: {
      type: Boolean,
      default: false,
    },
    delay: {
      default: 10,
      type: Number,
    },
    size: {
      default: 36,
      type: Number,
    },
    value: {
      default: 0,
      type: [Number, String],
    },
    stroke: {
      type: Object,
      default: () => ({
        circle: 4,
        progress: 3,
      }),
    },
    themes: {
      type: Function,
      default: () => ({
        danger: {
          border: 0,
          color: {
            stop: '#CB1313',
            start: '#EB5757',
          },
        },
        warning:  {
          border: 33,
          color: {
            stop: '#D16C13',
            start: '#F2994A',
          },
        },
        success:  {
          border: 66,
          color: {
            stop: '#14946C',
            start: '#0ACB90',
          },
        },
      })
    }
  },
  data() {
    return {
      mutatedAnimate: this.animate,
      key: Math.random().toString(36).substr(2),
    }
  },
  mounted() {
    if (this.mutatedAnimate)
      setTimeout(() => 
        this.mutatedAnimate = false, 
          this.delay)
  },
  computed: {
    sanitialized() {
      return this.value
    },
    theme() {
      let theme = null 
      for (let key in this.themes())
        if (this.sanitialized >= this.themes()[key].border)
          theme = this.themes()[key]

      return theme
    },
    classnames() {
      const clsx = ['root', `root--${this.sanitialized}`];

      if (this.sanitialized.toString().length >= 5)
        clsx.push('root--big')

      return clsx.join(' ')
    },
    width() {
      return this.size || 36
    },
    height() {
      return this.size || 36
    },
    radius() {
      return this.width / 2
    },
    circumference() {
      return (this.radius - this.stroke.circle) * 2 * Math.PI
    },
    offset() {
      const value = this.mutatedAnimate ? 0 : this.value

      return this.circumference - value / 100 * this.circumference
    }
  },
}

</script>

<style scoped>

  .circle {
    stroke: var(--color-bg);
  }

  .progrss {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;

    transition: 0.35s stroke-dashoffset;
  }

  .value {
    font-size: 10px;
  }

  .root--big .value {
    font-size: 8px;
  }

</style>