<template>
  <div ref="rangeSlider" class="c-range-slider">
    <div class="c-range-slider-header">
      <span>{{ slider.min }}</span>
      <span>{{ slider.max }}</span>
    </div>
    <div  class="slider-wrap">
      <vue-simple-range-slider  v-bind="slider"
                                v-model="localRange"
                              />
    </div>
    <div class="c-range-slider-footer">
      <div>
        <div class="range-field range-field--from">
          <label>От</label>
          <input type="number" class="input" v-model="localRangeInputFrom" />
        </div>
      </div>
      <div>
        <div class="range-field range-field--to">
          <label>До</label>
          <input type="number" class="input" v-model="localRangeInputTo" />
        </div>
      </div>
       <div>
        <div class="range-randomizer">
          <div class="form">
            <input  type="number"
                    class="input"

                    :min="shuffle.min"
                    :max="shuffle.max"
                    :step="shuffle.step"
                    :placeholder="`${shuffle.min}-${shuffle.max}`"
                  
                    v-model="localFactor"
                  />
            <c-styled-button  v-bind="randomBtn"
                              
                              @click.native="shuffleHandle" />
          </div>
          <c-progress :value="getChance.toFixed(2)"
                      :size="45"
                      :stroke="{
                        circle: 5,
                        progress: 4,
                      }" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState, mapGetters } from 'vuex'

import VueSimpleRangeSlider from 'vue-simple-range-slider'

import CProgress from '@/components/c-progress.vue'
import CStyledButton from '@/components/c-styled-button.vue'

export default {
  name: 'c-range-slider',
  components: {
    CProgress,
    CStyledButton,
    VueSimpleRangeSlider,
  },
  data() {
    return {
      randomBtn: {
        label: 'Рандом',
        theme: 'secondary',
        icon: {
          name: 'shuffle',
          position: 'left',
        }
      },
    }
  },
  mounted() {
    this.shuffleHandle()
  },
  methods: {
    shuffleHandle() {
      this.$store.dispatch('game/doShuffle')
    },
  },
  computed: {
    ...mapState('game', [
      'range',
      'slider',
      'factor',
      'shuffle',
    ]),
    ...mapGetters('game', [
      'getFactor',
      'getChance',
      'getFactoryByRange',
    ]),
    localRange: {
      get() {
        return this.$store.getters['game/getRange']
      },
      set(value) {
        const [min, max] = value
        
        this.$store.commit('game/setRange', {
          min,
          max
        })
      }
    },
    localRangeInputFrom: {
      get() {
        return this.$store.getters['game/getRange'][0]
      },
      set(min) {
        this.$store.commit('game/setRange', {
          min
        })
      },
    },
    localRangeInputTo: {
      get() {
        return this.$store.getters['game/getRange'][1]
      },
      set(max) {
        this.$store.commit('game/setRange', {
          max
        })
      },
    },
    localFactor: {
      get() {
        return this.$store.getters['game/getFactor']
      },
      set(value) {
        this.$store.commit('game/setRandomFactory', value)
      },
    },
  }
}

</script>

<style>

  .c-range-slider-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;
    color: var(--color-bg-dark);
  }


  .simple-range-slider-bg-bar[data-v-06329002] {
    position: relative;

    height: 10px;
    min-width: 50px;

    margin: 15px 0;

    border-radius: 10px;
    background: var(--color-bg-light);
  }

  .simple-range-slider .simple-range-slider-bg-bar .simple-range-slider-bar[data-v-06329002] {
    height: 100%;

    background: var(--color-success);
  }

  .simple-range-slider .simple-range-slider-bg-bar .simple-range-slider-anchor[data-v-06329002] {
    top: -10px;
    position: absolute;
  }

  .lazy-slider .simple-range-slider .simple-range-slider-bg-bar .simple-range-slider-bar[data-v-06329002],
  .lazy-slider .simple-range-slider .simple-range-slider-bg-bar .simple-range-slider-anchor[data-v-06329002] {
    transition: .25s transform;
  }

  .simple-range-slider .simple-range-slider-bg-bar .simple-range-slider-anchor .simple-range-slider-handle[data-v-06329002] {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

    cursor: pointer;
    user-select: none;

    transition: .25s background-color;
  }

  .simple-range-slider .simple-range-slider-bg-bar .simple-range-slider-anchor .simple-range-slider-handle[data-v-06329002]::after {
    color: black;
    font-size: 10px;
    font-weight: 400;
  }

  .simple-range-slider .simple-range-slider-bg-bar .simple-range-slider-anchor:not(:last-child) .simple-range-slider-handle[data-v-06329002]::after {
    content: 'От';
  }

  .simple-range-slider .simple-range-slider-bg-bar .simple-range-slider-anchor:last-child .simple-range-slider-handle[data-v-06329002]::after {
    content: 'До';
  }

  .simple-range-slider .simple-range-slider-bg-bar .simple-range-slider-anchor .simple-range-slider-handle[data-v-06329002]:hover {
    background-color: var(--color-bg-light)
  }

  .simple-range-slider .simple-range-slider-bg-bar .simple-range-slider-anchor .simple-range-slider-popover-arrow[data-v-06329002] {
    display: none;
  }
  
  .simple-range-slider .simple-range-slider-popover[data-v-06329002] {
    left: 100%;
    right: auto;
    z-index: -1;
    bottom: 15px;
    position: absolute;
  }

  .simple-range-slider .simple-range-slider-anchor:last-child .simple-range-slider-popover[data-v-06329002] {
    left: auto;
    right: 100%;
  }

  .simple-range-slider .simple-range-slider-popover input[data-v-06329002] {
    padding: 0;

    border: none;
    outline: none;
    background: none;

    font-size: 13px;
    font-weight: 350;
    color: var(--color-label);

    vertical-align: top;
  }

  .simple-range-slider .simple-range-slider-merged-popover[data-v-06329002] {
    left: 20px;
    z-index: 1;
    bottom: 20px;

    opacity: 1;
  }

  .c-range-slider-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin-top: 25px;
  }

  .c-range-slider-footer > div {
    flex: 0 0 100%;
    margin-bottom: 5px;
  }

  .range-randomizer,
  .range-randomizer .form {
    display: flex;
    align-items: center;
  }

  .range-randomizer {
    justify-content: center;
  }
  
  .range-randomizer .form {
    margin-right: 10px;
  }

  .range-randomizer .input {
    height: 36px;
    max-width: 70px;

    padding: 5px 10px;

    text-align: center;
  }

  .range-randomizer button {
    padding: 7.5px 10px !important;
    
    border-radius: 0 5px 5px 0 !important;

    font-weight: 250 !important;
  }

  .range-field {
    position: relative;

    width: 100%;
    max-width: 100%;
  }

  .range-field label {
    top: 2px;
    left: 5px;
    position: absolute;
  }

  .range-field .input {
    width: 100%;
    height: 36px;

    padding-left: 25px;
  }

  @media screen and (min-width: 576px) {
    
    .c-range-slider-footer > div {
      flex: 0 0 auto;
    }

    .c-range-slider-footer > div:nth-child(2) {
      order: 2;
    }

    .range-field .input {
      max-width: 100px;
    }

  }

</style>