<template>
  <aside  id="aside"

          :class="{
            'aside--guest': !isLoggedIn
          }">
    <div class="wrapper">
      <div  v-if="isLoggedIn"
      
            class="avatar">
        <c-avatar :color="user.color"
                  :username="user.username"
                />
      </div>
      <div  v-if="isLoggedIn"
            
            class="total">
        <c-total :value="user.total" />
      </div>
      <div  v-if="isLoggedIn"
            
            class="actions">
        <c-styled-button v-bind="BonusBtn" />
        <c-styled-button v-bind="RefillBtn" />
        <c-styled-button v-bind="WithdrawBtn" />
      </div>
      <div class="nav">
        <c-navigation class="navigation--aside" />
      </div>
      <div  v-if="isLoggedIn"
            
            class="menu">
        <c-menu />
      </div>
    </div>
  </aside>
</template>

<script>

import { mapState, mapGetters } from 'vuex'

import CMenu from '@/components/c-menu'
import CTotal from '@/components/c-total'
import CAvatar from '@/components/c-avatar'
import CNavigation from '@/components/c-navigation'
import CStyledButton from '@/components/c-styled-button'

export default {
  name: 'c-sidebar',
  components: {
    CMenu,
    CTotal,
    CAvatar,
    CNavigation,
    CStyledButton,
  },
  data() {
    return {
      BonusBtn: {
        theme: 'gold',
        size: 'large',
        label: 'Бесплатный бонус',
        icon: {
          name: 'star',
          color: '#DAA520',
          position: 'right',
        },
      },
      RefillBtn: {
        size: 'large',
        theme: 'primary',
        label: 'Пополнить',
        icon: {
          name: 'plus',
          position: 'left',
        },
      },
      WithdrawBtn: {
        size: 'large',
        label: 'Вывести',
        theme: 'secondary',
        icon: {
          name: 'arrow',
          position: 'right',
        },
      },
    }
  },
  computed: {
    ...mapState('account', [
      'user',
    ]),
    ...mapGetters('account', [
      'isLoggedIn',
    ]),
  },
}

</script>

<style scoped>

  aside {
    top: 0;
    z-index: 101;
    position: fixed;
    left: calc(-1 * var(--size-aside));

    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: var(--size-aside);

    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    transition: .5s left;
  }

  .wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100%;
    padding: 10px 10px 0;
        
    background-color: white;
  }

  .nav,
  .total,
  .avatar,
  .actions {
    flex: 0 0 auto;
  }

  .total {
    padding: 15px 0;
  }

  .actions {
    display: flex;
    flex-direction: column;
  }

  .actions button:not(:last-child) {
    margin-bottom: 10px;
  }

  .nav {
    margin: 15px -10px 0 -10px;
  }

  .menu {
    flex: 1;

    margin: 30px -10px 0;

    box-shadow: var(--shadow-dark);
    background-color: var(--color-secondary);
  }

  @media screen and (min-width: 768px) {

    .navigation {
      display: none;
    }

  }

  @media screen and (min-width: 1200px) {
    
    aside:not(.aside--guest) {
      z-index: 1;
      position: static;

      height: auto;
      max-height: initial;

      overflow: visible;
    }

    .wrapper {
      height: auto;

      border-radius: 5px 5px 30px 30px;
      box-shadow: var(--shadow-default);
    }

    .avatar {
      margin-top: -70px;
    }

    .menu {
      margin: 30px -11px 0;

      border-radius: 15px;
    }

  }

  @media screen and (min-height: 800px) and (min-width: 1200px) {
    
    aside:not(.aside--guest) {
      top: 170px;
      position: sticky;
      position: -webkit-sticky;
    }

  }

</style>