<template>
  <div :class="{root: true, 'h-100': fullHeight}">
    <div class="caption">
      <h3 v-if="$slots.heading"
          
          :class="{heading: true,'heading--alt': headingStyle}">
          <slot name="heading"></slot>
      </h3>
      <slot name="utils"></slot>
    </div>
    <hr class="separator" />
    <div :class="{content: true, 'content--boxed': contentBoxed}">
      <slot></slot>
    </div>
  </div>
</template>

<script>

export default {
  name: 'c-simple-page',
  props: {
    fullHeight: {
      type: Boolean,
      default: false,
    },
    contentBoxed: {
      type: Boolean,
      default: true,
    },
    headingStyle: {
      type: String,
      default: null,
    },
  },
}

</script>

<style scoped>

  .root {
    padding: 20px 5px 0;

    border-radius: 5px;
    background-color: white;
    box-shadow: var(--shadow-default);
  }

  .root.h-100 {
    height: 100%;
  }

  .caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;
  }

  .caption .heading {
    flex: 0 0 100%;

    margin: 0;

    line-height: 1;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    color: var(--color-primary);
  }

  .caption .heading.heading--alt {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-bg-dark);
  }

  hr {
    margin: 15px 0 0;

    border: none;
    border-radius: 5px;
    border-bottom: 1px solid var(--color-bg);
  }

  .content.content--boxed {
    padding: 20px 10px;
  }

  .root.h-100 .content {
    height: calc(100% - 49px);
  }

  @media screen and (min-width: 578px) {

  }

  @media screen and (min-width: 768px) {
    .caption .heading {
      flex: 0 0 auto;

      margin: 0;
      
      font-size: 25px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .content.content--boxed {
      padding: 35px 15px;
    }
  }

  @media screen and (min-width: 1200px) {}

</style>