<template>
  <button :class="setTheme">
    <c-icon v-if="icon && (!icon.position || icon.position === 'left')"

            :name="icon.name"
            :color="icon.color"
          />
    <span class="label">
      {{ label }}
    </span>
    <c-icon v-if="icon && icon.position === 'right'"
    
            :name="icon.name"
            :color="icon.color"
          />
  </button>
</template>

<script>

import CIcon from './c-icon'

export default {
  name: 'c-styled-button',
  props: {
    icon: Object,
    size: String,
    label: String,
    theme: String,
  },
  components: {
    CIcon,
  },
  computed: {
    setTheme() {
      const classnames = ['button']

      classnames.push(`button--${this.theme ? this.theme : 'default'}`)

      if (this.size)
        classnames.push(`button--${this.size}`)

      return classnames.join(' ')
    },
  }
}

</script>

<style scoped>

  .button {
    align-items: center;
    display: inline-flex;
    justify-content: center;

    padding: 10px 20px;

    border-radius: 5px;
    border: none !important;
    background-color: var(--color-default);
    
    color: black;
    font-size: 18px;

    cursor: pointer;

    transition: color .25s, background-color .25s;
  }

  .button--large {
    display: flex;

    width: 100%;
  }

  .button--small {
    padding: 7px 10px;

    font-size: 14px;
  }

  .button:hover {
    background-color: var(--color-default-hover);
  }
  .button:active {
    background-color: var(--color-default-active);
  }

  .button--primary {
    background-color: var(--color-primary);

    color: white;
  }
  .button--primary:hover {
    background-color: var(--color-primary-hover);
  }
  .button--primary:active {
    background-color: var(--color-primary-active);
  }

  .button--secondary {
    background-color: var(--color-secondary);
    
    color: white;
  }
  .button--secondary:hover {
    background-color: var(--color-secondary-hover);
  }
  .button--secondary:active {
    background-color: var(--color-secondary-active);
  }

  .button--success {
    background-color: var(--color-success);
    
    color: white;
  }
  .button--success:hover {
    background-color: var(--color-success-hover);
  }
  .button--success:active {
    background-color: var(--color-success-active);
  }

  .button--danger {
    background-color: var(--color-danger);
    
    color: white;
  }
  .button--danger:hover {
    background-color: var(--color-danger-hover);
  }
  .button--danger:active {
    background-color: var(--color-danger-active);
  }

  .button--warning {
    background-color: var(--color-warning);
    
    color: white;
  }
  .button--warning:hover {
    background-color: var(--color-warning-hover);
  }
  .button--warning:active {
    background-color: var(--color-warning-active);
  }

  .button--gold {
    background-color: var(--color-gold);
    
    color: var(--color-bg-dark);
  }
  .button--gold:hover {
    background-color: var(--color-gold-hover);
  }
  .button--gold:active {
    background-color: var(--color-gold-active);
  }

  .button .svg {
    width: 18px;
    height: 18px;
  }

  .button--small .svg {
    width: 10px;
    height: 10px;
  }

  .button .svg + .label {
    margin-left: 15px;
  }

  .button .label + .svg {
    margin-left: 15px;
  }

  .button--small .svg + .label {
    margin-left: 10px;
  }

  .button--small .label + .svg {
    margin-left: 10px;
  }

  .button:disabled {
    opacity: .75;
    cursor: none;
    pointer-events: none;
  }

</style>