<template>
  <div class="support-empty-content">
    <div class="wrapper">
      <div class="icon">
        <c-icon name="file" />
      </div>
      <h4>Чтобы обращаться к техподдержки создайте тикет</h4>
      <c-styled-button  v-bind="newBtn"
                        
                        @click.native="() => $router.push('/support/new')"
                      />
    </div>
  </div>
</template>

<script>

import CIcon from '@/components/c-icon'
import CStyledButton from './c-styled-button.vue'

export default {
  name: 'c-support-empty',
  components: {
    CIcon,
    CStyledButton,
  },
  data() {
    return {
      newBtn: {
        icon: {
          name: 'plus',
          position: 'left',
        },
        label: 'Создать тикет',
      }
    }
  },
}

</script>

<style scoped>

  .support-empty-content {
    height: 100%;
  }

  .support-empty-content .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    height: 100%;
  }

  h4 {
    margin: 20px 0;

    font-size: 22px;
    text-align: center;
    font-weight: normal;
    color: var(--color-label);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    border: 2px solid;
    border-radius: 100px;

    color: var(--color-bg-dark);
  }

  .icon svg {
    width: 40px;
    height: 40px;
  }

</style>