<template>
  <div class="support-toolbar">
    <c-styled-button  v-for="button in activeButtons"
    
                      :key="button"
                      v-bind="buttons[button]"

                      @click.native="() => buttonHandle(button)"
                    />
  </div>
</template>

<script>

import { mapState } from 'vuex'

import CStyledButton from '@/components/c-styled-button'

export default {
  name: 'c-support-toolbar',
  components: {
    CStyledButton,
  },
  data() {
    return {
      buttons: {
        new: {
          size: 'small',
          label: 'Создать тикет',
          icon: {
            name: 'plus',
          },
        },
        back: {
          size: 'small',
          label: 'Назад',
          icon: {
            name: 'arrow-right',
          },
        },
        block: {
          size: 'small',
          theme: 'danger',
          label: 'Закрыть',
          icon: {
            name: 'lock',
          },
        },
      },
    }
  },
  computed: mapState('support', [
    'activeButtons'
  ]),
  methods: {
    buttonHandle(key) {
      switch (key) {
        case 'back':
          return this.$router.push('/support')
        case 'block':
          return this.$store.dispatch('messenger/close', this.$route.params.id)
        case 'new':
          return this.$router.push('/support/new')
      }
    },
  },
}

</script>

<style scoped>

  .support-toolbar {
    margin-top: 10px;
    margin-left: auto;

    text-align: right;
  }

  .support-toolbar button {
    margin-left: 15px;
  }

  .support-toolbar button:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {

    .support-toolbar {
      margin-top: 0;
    }
    
    .support-toolbar button:not(:last-child) {
      margin-bottom: 0;
    }

  }

</style>