<template>
  <div class="support-item">
    <div class="toolbar">
      <label :class="`section section--${section.value}`">
        {{ section.label }}
      </label>
      <div class="state">
        <timeago  v-if="date"
        
                  :datetime="date"
                  :auto-update="60"
                />
        <router-link  :to="`/support/messanger/${id}`"
                      :class="`status status--${status.value}`">
          {{ status.label }}
        </router-link>
      </div>
    </div>
    <router-link  class="subject lnik"
                  :to="`/support/messanger/${id}`">
      {{ subject }}
    </router-link>
    <div class="message">
      {{ message }}
    </div>
  </div>
</template>

<script>

export default {
  name: 'c-support-item',
  props: {
    id: String,
    status: Object,
    section: Object,
    subject: String,
    content: Object,
  },
  computed: {
    date() {
      if (this.content !== null)
        if ('date' in this.content)
          return this.content.date

      return null
    } ,
    message() {
      if (this.content !== null)
        if ('message' in this.content)
          return this.content.message

      return null
    },
  },
}

</script>

<style scoped>

  .support-item {
    word-break: break-word;
  }

  .support-item:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-bg);
  }

  .toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .state {
    flex: 0 0 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
   }

  .section {
    font-size: 13px;
    cursor: default;
    color: #848484;
    font-style: italic;
  }

  .status {
    padding: 5px;
    margin-left: 10px;

    border-radius: 5px;

    background-color: var(--color-bg);

    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: var(--color-text);
  }

  .status--answered {
    background-color: var(--color-success);
    
    color: white;
  }

  .status--pending {
    background-color: var(--color-warning);
    
    color: white;
  }

  .status--closed {
    background-color: var(--color-danger);

    color: white;
  }
  
  .subject {
    display: inline-block;

    margin: 5px 0;
    
    font-size: 16px;
  }

  .message {
    color: #444;
    font-size: 14px;
  }

  @media screen and (min-width: 576px) {
    
    .state {
      flex: 0 0 auto;
    }

  }

</style>