<template>
  
  <div class="table-wrapper scrollabel--x">
    <table  class="table"

            border="0"
            cellpadding="0"
            cellspacing="0">
      <caption v-if="$slots.caption">
        <slot name="caption"></slot>
      </caption>
      <thead v-if="columns">
        <th v-for="col in columns"
            
            :key="col.key"
            :class="{
              'align-left': col.align && col.align === 'left',
              'align-right': col.align && col.align === 'right',
            }">
          {{ col.label }}
        </th>  
      </thead>
      <tbody v-if="data && columns && !$slots.default">
        <tr v-for="(datum, index) in data"

            :key="`tr__${index}`">
          <td v-for="col in columns"
              
              :key="`tr__${index}__${col.key}`"
              :class="{
                'align-left': col.align && col.align === 'left',
                'align-right': col.align && col.align === 'right',
              }">
            <span v-if="col.key === 'range'">{{ datum[col.key]  ? datum[col.key].join('-') : '' }}</span>
            <c-progress v-else-if="col.key === 'chance'"

                        :size="40"
                        :animate="true"
                        :value="datum[col.key]"  
                      />
            <span v-else
                  
                  :class="{
                    'styled-value styled-value--danger': ['number', 'winnings'].includes(col.key) && datum.winnings <= 0,
                    'styled-value styled-value--success': ['number', 'winnings'].includes(col.key) && datum.winnings > 0,
                  }">{{ datum[col.key] }}</span>
          </td>
        </tr>
      </tbody>
      <tbody v-if="$slots.default">
        <slot></slot>
      </tbody>
      <tfoot v-if="columns && footer && !$slots.footer">
        <th v-for="col in columns"
            
            :key="col.key"
            :class="{
              'align-left': col.align && col.align === 'left',
              'align-right': col.align && col.align === 'right',
            }">
          {{ col.label }}
        </th>  
      </tfoot>
      <tfoot v-if="$slots.footer">
        <slot name="footer"></slot>
      </tfoot>
    </table>
  </div>

</template>

<script>

import CProgress from './c-progress.vue'

export default {
  name: 'c-table',
  components: { 
    CProgress,
  },
  props: {
    data: Array,
    columns: Array,
    footer: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
  }
}

</script>

<style scoped>

  .table-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .table {
    width: 100%;
    
    border-spacing: 0;

    font-size: 15px;
  }

  .table caption {
    padding: 15px 10px;

    text-align: left;
  }

  .table th {
    padding: 10px;

    background-color: var(--color-primary);

    color: white;
    text-align: center;
  }

  .table tfoot th {
    color: var(--color-bg-dark);
    background-color: var(--color-bg);
  }

  .table tfoot th:first-child,
  .table thead th:first-child,
  .table tbody tr td:first-child {
    padding-left: 15px;
  }

  .table th.align-left,
  .table td.align-left {
    text-align: left;
  }
  .table th.align-right {
    text-align: right;
  }

  .table td {
    padding: 10px;

    background-color: white;

    text-align: center;
    color: var(--color-bg-dark);
  }

  .table tbody tr:nth-child(even) td {
    background-color: var(--color-bg-light);
  }

  .table .styled-value {
    font-weight: 700;
  }

  .table .styled-value--danger {
    color: var(--color-danger-active);
  }
  .table .styled-value--success {
    color: var(--color-success-active);
  }

</style>