<template>
  <div class="root">
    <c-icon name="coins" />
    <vue-odometer format=""
                  :value="value"
                />
  </div>
</template>

<script>

import VueOdometer from 'vue-odometer'

import CIcon from './c-icon'

export default {
  name: 'c-total',
  props: {
    value: Number,
  },
  components: {
    CIcon,
    VueOdometer,
  },
}

</script>

<style scoped>

  .root {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 100%;
    min-width: 160px;
    min-height: 60px;
    width: max-content;

    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    border-radius: 30px;
    box-shadow: var(--shadow-inset);
    background-color: var(--color-bg-light);

    color: var(--color-bg-dark);
  }

  .root svg {
    width: 30px;
    height: 30px;

    margin: 0 5px;
  }

  .root span {
    overflow: hidden;

    max-width: calc(100% - 50px);

    margin: 0 5px;
    padding: 10px 0;

    font-size: 30px;
    text-overflow: ellipsis;
  }

</style>