<template>
  <div class="root">
    <div class="caption">
      <c-icon name="trophy" />
      <h3>Топ выигрыши</h3>
    </div>
    <hr />
    <ul>
      <li v-for="winner in winners"
          
          :key="winner.username">
          <span class="username"
                
                :title="winner.username">
            {{ winner.username }}
          </span>
          <span class="total">{{ winner.total }}</span>
        </li>
    </ul>
  </div>
</template>

<script>

import CIcon from './c-icon'

export default {
  name: 'c-top-winners',
  components: {
    CIcon,
  },
  data() {
    return {
      winners: [
        {
          total: 13690,
          username: 'Benedgt2021ILIKEMONEY',
        },
        {
          total: 8900,
          username: 'MilaResident Evil',
        },
        {
          total: 5500,
          username: 'LeonidFieldDreams',
        },
        {
          total: 3320,
          username: 'Yuri',
        },
        {
          total: 1000,
          username: 'NinaWinner',
        },
        {
          total: 680,
          username: 'ValerySinger',
        },
        {
          total: 440,
          username: 'ArturKing',
        },
        {
          total: 200,
          username: 'SchoolBoy159',
        },
        {
          total: 101,
          username: 'Dima1236',
        },
        {
          total: 15,
          username: 'PurGamer',
        },
      ],
    }
  }  
}

</script>

<style scoped>

  .root {
    height: 100%;

    padding: 10px 0;

    border-radius: 5px;
    box-shadow: var(--shadow-default);
    background-color: var(--color-secondary-active)
  }

  hr {
    margin: 0 5px;
    
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid rgba(0, 109, 149, 1);
  }

  .caption {
    display: flex;
    align-items: center;

    padding: 10px 15px;

    color: white;
  }

  .caption svg {
    width: 20px;
    height: 20px;

    margin-right: 10px;
  }

  .caption h3 {
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 400;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    padding: 17px 0;
  }

  li {
    flex: 0 0 100%;
    
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 20px;

    overflow: hidden;

    color: white;
  }

  li:nth-child(even) {
    background: linear-gradient(90deg, #1D6B87 0%, #005371 50%);
  }

  li:nth-child(1)::before,
  li:nth-child(2)::before,
  li:nth-child(3)::before {
    content: '';

    top: 0;
    left: 0;
    position: absolute;

    border-width: 6px;
    border-style: solid;
    border-color: var(--color-gold) transparent transparent var(--color-gold);
  }
  
  li:nth-child(2)::before {
    border-color: rgba(211, 211, 211, 1) transparent transparent rgba(211, 211, 211, 1);
  }

  li:nth-child(3)::before {
    border-color: rgba(205, 127, 50, 1) transparent transparent rgba(205, 127, 50, 1);
  }


  .username {
    display: block;
    
    max-width: calc(100% - 75px);
    
    overflow: hidden;
    
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .total {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary);
  }

  @media screen and (min-width: 768px) {

    li {
      flex: 0 0 calc(100% / 3);
    }

  }

  @media screen and (min-width: 992px) {
    ul {
      display: block;
    }
  }

</style>