<template>
  <div class="loding">
    <content-placeholders v-for="index in 7"

                          :key="index">
      <content-placeholders-heading /> 
    </content-placeholders>
  </div>
</template>

<script>

export default {
  name: 'c-tockets-loading',
}

</script>

<style scoped>

  .loding > div {
    margin-bottom: 15px;
  }

</style>