<template>
  <div>
    <content-placeholders v-for="index in 3"

                          :key="index"
                          class="loading">
      <div class="toolbar">
        <content-placeholders-text  :lines="1"
                                    class="section"
                                  />
        <div class="actions">
          <content-placeholders-text :lines="1" />
          <content-placeholders-text :lines="1" />
        </div>
      </div>
      <content-placeholders-heading class="hading" /> 
    </content-placeholders>
  </div>
</template>

<script>

export default {
  name: 'c-tockets-loading',
}

</script>

<style scoped>

  .loading {
    margin-bottom: 25px;
  }

  .loading .toolbar {
    display: flex;
    justify-content: space-between;
  }

  .loading .toolbar .section {
    width: 100px;
  }

  .loading .toolbar .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .loading .toolbar .actions > div {
    display: flex;
    justify-content: flex-end;

    width: 100px;

    margin: 0;
  }

  .loading .toolbar .actions > div:nth-child(1) {
    width: 150px;
  }

  .loading .hading {
    margin-top: 10px;
  }

  .loading .message {
    margin-top: 5px;
  }

</style>