<template>
  <div  id="app"
        
        :class="{
          'need-auth': !isLoggedIn
        }">
    <notifications group="system" />
    <Header />
    <Main />
    <Footer />
    <div class="overlay" @click="resetOverlay"></div>
  </div>
</template>

<script>

import '../public/assets/fonts/segoe-ui/stylesheet.css'
import 'odometer/themes/odometer-theme-default.css';
import '../public/assets/css/main.css'

import { mapGetters } from 'vuex'

import Config from '@/config'
import { resetOverlay } from '@/utils'

import Main from './Main.vue'
import Header from './Header.vue'
import Footer from './Footer.vue'

export default {
  name: 'App',
  components: {
    Main,
    Header,
    Footer,
  },
  computed: mapGetters('account', [
    'isLoggedIn'
  ]),
  created() {
    if (localStorage.getItem(Config.LS.Token))
      this.$store.dispatch('account/getData')
  },
  methods: {
    resetOverlay,
  },
}

</script>

<style>
  #app {
    min-height: 100vh;
  }
</style>
