<template>
  <footer>
    <div class="container">
      <nav role="navigation">
        <ul>
          <li v-for="link in links"
          
              :key="link.url">
            <router-link :to="link.url">
              {{ link.label }}
            </router-link>
          </li>
        </ul>
      </nav>
      <p class="copyright">{{ copyright }}</p>
    </div>
  </footer>
</template>

<script>

export default {
  name: "Footer",
  data() {

    return {
      copyright: 'Chase-x.cash © 2021. Все Права Защищены.',
      links: [
        {
          url: '/page/user-agreements',
          label: 'Пользовательское соглашение',
        },
        {
          url: '/page/privacy-policy',
          label: 'Политика конфеденциальности',
        }
      ]
    }
  }
}

</script>

<style scoped>

  footer {
    padding: 0 0 15px 0;
  }

  .need-auth footer {
    padding: 0 0 15px 0
  }

  footer nav::after {
    content: '';

    display: block;

    height: 2px;
    width: 100%;
    max-width: 300px;

    margin: 0 auto 10px;

    background-color: white;
  }

  footer nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  footer nav li {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
  }


  footer .copyright {
    margin: 0;
    padding: 0;

    font-size: 10px;
    text-align: center;
    color: var(--color-bg-dark)
  }

  @media screen and (min-width: 1200px) {
    footer {
      padding-bottom: 45px;
      padding-left: var(--size-aside);
    }
  }

</style>