<template>
  <header :class="{
    'header--guest': !isLoggedIn
  }">
    <div class="container">
      <div class="col--left">
        <a  id="toggle-sidebar"
            href="#toggle-sidebar"
            
            @click.prevent="toggleSidebar">
          <c-icon name="menu" />
        </a>
        <router-link to="/" class="logo">
          <img src="/assets/svg/logo.svg" />
        </router-link>
      </div>
      <c-navigation class="navigation--header" />
    </div>
  </header>
</template>

<script>

import { mapGetters } from 'vuex'

import CIcon from './components/c-icon.vue'
import CNavigation from './components/c-navigation.vue'

export default {
  name: "Header",
  components: {
    CIcon,
    CNavigation,
  },
  computed: mapGetters('account', [
    'isLoggedIn'
  ]),
  methods: {
    toggleSidebar() {
      document.body.classList.add('overlayed')
      document.body.classList.add('overlayed--aside')
    }
  },
}

</script>

<style scoped>

  header {
    top: 0;
    z-index: 10;
    position: sticky;
    position: -webkit-sticky;

    height: 60px;

    padding-left: 30px;
    padding-right: 30px;

    overflow: hidden;

    background-color: white;
    box-shadow: var(--shadow-default);
  }

  header .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    height: 100%;
  }

  header .col--left {
    display: flex;
    align-items: center;

    width: 100%;
  }

  header .col--left .logo {
    flex: 0 0 calc(100% - 90px);
    
    max-width: calc(100% - 90px);

    text-align: center;
  }

  #toggle-sidebar {
    margin-right: 20px;
  }

  #toggle-sidebar svg {
    width: 25px;
    height: 25px;
  }

  .navigation--header {
    display: none;
  }

  @media screen and (min-width: 768px) {

    header {
      height: 70px;
    }

    header .col--left {
      width: initial;
    }

    header .col--left .logo {
      flex: 0 0 auto;
      max-width: initial;

      text-align: center;
    }

    .navigation--header {
      display: block;
    }

    header.header--guest #toggle-sidebar {
      display: none;
    }

  }

  @media screen and (min-width: 1200px) {

    header:not(.header--guest) #toggle-sidebar {
      display: none;
    }

  }

</style>