<template>
  <main>
    <div class="container">
      <c-sidebar />
      <router-view />
    </div>
  </main>
</template>

<script>

import CSidebar from './components/c-sidebar'

export default {
  name: "Main",
  components: {
    CSidebar,
  },
}

</script>

<style scoped>

  main {
    padding: 30px 10px 25px;

    /* overflow: hidden; */
  }

  .need-auth main .container {
    grid-template-columns: auto;
    grid-template-areas: 'content';
  }

  @media screen and (min-width: 768px) {
    
    main {
      padding: 30px 30px 35px;
    }

  }

  @media screen and (min-width: 992px) {
    
    main {
      padding-top: 60px;
    }

  }

  @media screen and (min-width: 1200px) {
    main {
      padding-top: 100px;

      /* overflow: visible; */
    }

    main .container {
      display: grid;
      grid-gap: 30px;
      grid-template-areas: 'sidebar content';
      grid-template-columns: var(--size-aside) auto;
      grid-auto-rows: minmax(min-content, max-content);

      align-items: flex-start;
    }
  }

</style>